// $black: rgb(27, 27, 27);
$white: rgb(238, 238, 238);
$black: #1e2125;
$blue: #0f4c81;
$bright_red: #ed6663;
$bright_orange: #ffa372;
$colorOutline: #ffffff;
$colorOutlineFade: #4e5559;
$green: #9acc14;
$widthMouse: 26px;
$heightMouse: 44px;
$borderMouse: 3px;
$posMouse: 4px;
$posText: 1px;
$sizeTrackball: 5px;
$posTrackball: 10px;
$shrinkTrackball: 0.4;
$animDuration: 7s;

@mixin bgGradient {
    background: $colorOutlineFade
        linear-gradient(transparent 0%, transparent 50%, $colorOutline 50%, $colorOutline 100%);
}
* {
    font-family: Ubuntu Mono, monospace;
}
.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6,
.uk-heading-2xlarge,
.uk-heading-large,
.uk-heading-medium,
.uk-heading-small,
.uk-heading-xlarge,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
}

a {
    text-decoration: none;
    cursor: none !important;
    &:hover {
        text-decoration: none;
        cursor: none !important;
        text-shadow: 3px 3px 10px $green;
        img {
            border: 1px solid $green;
        }
        polyline {
            stroke: $green;
        }
    }
    &.btn:hover {
        box-shadow: 0px 0px 3px 3px $green;
        text-shadow: 0;
    }
}
svg:hover {
    cursor: none;
    polyline {
        stroke: $green !important;
    }
}

iframe {
    position: relative;
    z-index: 50;
}

html {
    cursor: none;
    overflow-x: hidden;
}

.circle {
    width: 30px;
    height: 30px;
    position: fixed;
    top: -20px;
    left: -20px;
    transform: translateX(-20px) translateY(-20px);
    pointer-events: none;
    z-index: 9999;
    -webkit-transition: opacity 0.6s ease-in-out;
    transition: opacity 0.6s ease-in-out;
    border-radius: 50%;
    border: 1px solid $green;
    &.active {
        border: 0;
    }
    @media (max-width: 1000px) {
        display: none;
    }
}
.circle svg {
    width: 100%;
    position: fixed;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: 600ms all cubic-bezier(0.23, 1, 0.32, 1);
    transition: 600ms all cubic-bezier(0.23, 1, 0.32, 1);
}

.circle svg path {
    width: 20px;
    height: 20px;
    fill: $green;
    -webkit-transition: 600ms all cubic-bezier(0.23, 1, 0.32, 1);
    transition: 600ms all cubic-bezier(0.23, 1, 0.32, 1);
}

body {
    background: $white;
    overflow-x: hidden;
    .btn-cv {
        background: transparent;
        border: 1px solid $green;
    }
    hr {
        color: $green;
    }
    .containers {
        width: 100%;
        height: 100vh;
        display: flex;
        overflow: hidden;
        .left-container {
            background-color: $black;
            height: 100%;
            width: 30%;
            color: $white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .main-title {
                padding: 3rem;
                font-size: 2rem;
                @media (max-width: 768px) {
                    color: $green;
                    position: relative;
                    z-index: 450;
                }
            }
            .info {
                display: flex;
                padding: 3rem;
                font-size: 1rem;

                a {
                    text-decoration: none;
                    margin-left: 1rem;
                    color: $white;
                }
                @media (max-width: 768px) {
                    padding: 2rem;
                    a {
                        color: $black;
                        position: relative;
                        z-index: 15;
                    }
                    a:first-child {
                        color: $white;
                    }
                }
            }
        }
        .right-container {
            position: relative;
            background-color: $white;
            height: 100%;
            width: 70vw;
            .first-block {
                position: absolute;
                width: 0%;
                height: 100vh;
                background: $green;
                @media (min-width: 1000px) {
                    animation-name: go-left;
                    animation-duration: 4s;
                    animation-fill-mode: forwards;
                    animation-direction: alternate;
                    animation-timing-function: cubic-bezier(0.74, 0.06, 0.4, 0.92);
                    animation-delay: 7s;
                }
                left: 0;
                z-index: 16;
            }
            @keyframes go-left {
                0% {
                    left: 0;
                    width: 0%;
                }
                50% {
                    left: 0;
                    width: 100%;
                }
                100% {
                    left: 100%;
                    width: 0%;
                }
            }
            .menu-container {
                position: absolute;
                top: 3rem;
                display: none;
                right: 4rem;
                width: 50px;
                height: 45px;
                .menu,
                .menu::after,
                .menu::before {
                    width: 30px;
                    height: 3px;
                }
                .menu {
                    position: relative;
                    transform: translateY(20px);
                    background: $black;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 10px;
                        background: $black;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 10px;
                        background: $black;
                    }
                }
            }
            .story {
                position: absolute;
                height: 40%;
                left: 20vw;
                top: 30vh;
                h1 {
                    font-size: 3rem;
                }
                p {
                    font-size: 1rem;
                    padding-right: 20rem;
                }
                p:nth-child(3) {
                    margin-top: 5rem;
                    font-size: 1.6rem;
                    font-weight: 600;
                    font-family: Helvetica;
                }
                a {
                    color: $green;
                }
                @media (max-width: 768px) {
                    left: 7vw;
                    top: 55vh;
                    h1 {
                        font-size: 1.3rem;
                    }
                    p {
                        font-size: 0.8rem;
                        padding-right: 0;
                    }
                }
            }
            .social-container {
                position: absolute;
                bottom: 2rem;
                right: 2rem;
                @media (max-width: 768px) {
                    display: none;
                }
                .social {
                    display: flex;
                    ul {
                        margin-right: 1rem;
                        font-weight: 700;
                        font-family: Helvetica;
                        a img {
                            width: 2vw;
                        }
                    }
                }
            }
        }
        .center-container {
            position: absolute;
            top: 25vh;
            left: 15vw;
            height: 60vh;
            width: 28vw;
            background-position-x: center;
            background-image: url(../images/Aous.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            box-shadow: 7px 29px 49px 0px rgba(0, 0, 0, 0.5);
            @media (max-width: 768px) {
                height: 30vh;
                width: 55vw;
                background-size: cover;
                top: 22vh;
            }
        }
        .scroll-btn {
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%, -5%);
            z-index: 1;
            @media (max-width: 768px) {
                left: 70%;
                transform: translate(-70%, -5%);
            }
            .mouse {
                @include bgGradient;
                position: relative;
                width: $widthMouse;
                height: $heightMouse;
                border-radius: 100px;
                background-size: 100% 200%;
                animation: colorSlide $animDuration linear infinite, nudgeMouse $animDuration ease-out infinite;
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                }
                &:before {
                    width: $widthMouse - $borderMouse;
                    height: $heightMouse - $borderMouse;
                    background-color: $black;
                    border-radius: 100px;
                }
                &:after {
                    background-color: $colorOutline;
                    width: $sizeTrackball;
                    height: $sizeTrackball;
                    border-radius: 100%;
                    animation: trackBallSlide $animDuration linear infinite;
                }
            }

            @keyframes colorSlide {
                0% {
                    background-position: 0% 100%;
                }
                20% {
                    background-position: 0% 0%;
                }
                21% {
                    background-color: $colorOutlineFade;
                }
                29.99% {
                    background-color: $colorOutline;
                    background-position: 0% 0%;
                }
                30% {
                    background-color: $colorOutlineFade;
                    background-position: 0% 100%;
                }
                50% {
                    background-position: 0% 0%;
                }
                51% {
                    background-color: $colorOutlineFade;
                }
                59% {
                    background-color: $colorOutline;
                    background-position: 0% 0%;
                }
                60% {
                    background-color: $colorOutlineFade;
                    background-position: 0% 100%;
                }
                80% {
                    background-position: 0% 0%;
                }
                81% {
                    background-color: $colorOutlineFade;
                }
                90%,
                100% {
                    background-color: $colorOutline;
                }
            }

            @keyframes trackBallSlide {
                0% {
                    opacity: 1;
                    transform: scale(1) translateY(-$posTrackball);
                }
                6% {
                    opacity: 1;
                    transform: scale(0.9) translateY($posTrackball/4);
                }
                14% {
                    opacity: 0;
                    transform: scale($shrinkTrackball) translateY($posTrackball * 2);
                }
                15%,
                19% {
                    opacity: 0;
                    transform: scale($shrinkTrackball) translateY(-$posTrackball);
                }
                28%,
                29.99% {
                    opacity: 1;
                    transform: scale(1) translateY(-$posTrackball);
                }
                30% {
                    opacity: 1;
                    transform: scale(1) translateY(-$posTrackball);
                }
                36% {
                    opacity: 1;
                    transform: scale(0.9) translateY($posTrackball/4);
                }
                44% {
                    opacity: 0;
                    transform: scale($shrinkTrackball) translateY($posTrackball * 2);
                }
                45%,
                49% {
                    opacity: 0;
                    transform: scale($shrinkTrackball) translateY(-$posTrackball);
                }
                58%,
                59.99% {
                    opacity: 1;
                    transform: scale(1) translateY(-$posTrackball);
                }
                60% {
                    opacity: 1;
                    transform: scale(1) translateY(-$posTrackball);
                }
                66% {
                    opacity: 1;
                    transform: scale(0.9) translateY($posTrackball/4);
                }
                74% {
                    opacity: 0;
                    transform: scale($shrinkTrackball) translateY($posTrackball * 2);
                }
                75%,
                79% {
                    opacity: 0;
                    transform: scale($shrinkTrackball) translateY(-$posTrackball);
                }
                88%,
                100% {
                    opacity: 1;
                    transform: scale(1) translateY(-$posTrackball);
                }
            }

            @keyframes nudgeMouse {
                0% {
                    transform: translateY(0);
                }
                20% {
                    transform: translateY($posMouse);
                }
                30% {
                    transform: translateY(0);
                }
                50% {
                    transform: translateY($posMouse);
                }
                60% {
                    transform: translateY(0);
                }
                80% {
                    transform: translateY($posMouse);
                }
                90% {
                    transform: translateY(0);
                }
            }

            @keyframes nudgeText {
                0% {
                    transform: translateY(0);
                }
                20% {
                    transform: translateY($posText);
                }
                30% {
                    transform: translateY(0);
                }
                50% {
                    transform: translateY($posText);
                }
                60% {
                    transform: translateY(0);
                }
                80% {
                    transform: translateY($posText);
                }
                90% {
                    transform: translateY(0);
                }
            }

            @keyframes colorText {
                21% {
                    color: $colorOutlineFade;
                }
                30% {
                    color: $colorOutline;
                }
                51% {
                    color: $colorOutlineFade;
                }
                60% {
                    color: $colorOutline;
                }
                81% {
                    color: $colorOutlineFade;
                }
                90% {
                    color: $colorOutline;
                }
            }
        }
    }
    #skills {
        background-color: $black;
        position: relative;
        padding: 2em 0;

        * {
            color: $white;
        }
        canvas {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
        }
        .col-md-3:not(:first-child) {
            margin: 2% 0;
        }
        .skill {
            background-color: rgba(52, 60, 65, 0.5);
            padding: 1em 1em;
            border-radius: 5px;
            margin: 3% 0;
            position: relative;
            z-index: 546;
            .col-md-12 {
                padding: 0;
            }
            h2 {
                margin-bottom: 3%;
            }
        }
        .col-md-3 img {
            width: 60px;
            height: 70px;
            transition: all 0.3s ease-in-out;
            &.jquery {
                width: 100px;
            }
            &.nuxt {
                width: 120px;
            }
            &:hover {
                transform: scale3d(1.5, 1.5, 1.5);
            }
        }
        .project_slider {
            position: relative;
            z-index: 5;
            width: 100%;
            margin: 3% 0;
            .uk-slider-items {
                @media (max-width: 768px) {
                    img {
                        height: 300px;
                        object-fit: cover;
                    }
                    li {
                        &:first-child {
                            img {
                                object-position: cover;
                            }
                        }
                        &:nth-child(2) {
                            img {
                                object-position: left;
                            }
                        }
                        &:nth-child(3) {
                            img {
                                object-position: right;
                            }
                        }
                        &:nth-child(4) {
                            img {
                                object-position: left;
                            }
                        }
                        &:nth-child(5) {
                            img {
                                object-position: left;
                            }
                        }
                        &:nth-child(7) {
                            img {
                                object-position: right;
                            }
                        }
                    }
                }
            }
            li {
                .btn-project {
                    transition: all 0.5s ease-in-out;
                    border: 2px solid $white;
                    opacity: 0;
                }
                .uk-position-cover {
                    transition: all 0.5s ease-in-out;
                }
                &:first-child {
                    .uk-position-cover {
                        height: 0;
                        bottom: auto;
                    }
                    &:hover {
                        .uk-position-cover {
                            height: 100%;
                        }
                    }
                }
                &:nth-child(2) {
                    .uk-position-cover {
                        left: auto;
                        width: 0;
                    }
                    &:hover {
                        .uk-position-cover {
                            width: 100%;
                        }
                    }
                }
                &:nth-child(3) {
                    .uk-position-cover {
                        top: auto;
                        height: 0;
                    }
                    &:hover {
                        .uk-position-cover {
                            height: 100%;
                        }
                    }
                }
                &:nth-child(4) {
                    .uk-position-cover {
                        right: auto;
                        width: 0;
                    }
                    &:hover {
                        .uk-position-cover {
                            width: 100%;
                        }
                    }
                }
                &:nth-child(5) {
                    .uk-position-cover {
                        opacity: 0;
                    }
                    &:hover {
                        .uk-position-cover {
                            opacity: 1;
                        }
                    }
                }
                &:nth-child(6) {
                    .uk-position-cover {
                        width: 0;
                        height: 0;
                        top: 100%;
                        left: 100%;
                        right: 100%;
                        bottom: 100%;
                    }
                    &:hover {
                        .uk-position-cover {
                            width: 100%;
                            height: 100%;
                            top: 0%;
                            left: 0%;
                            right: 0%;
                            bottom: 0%;
                        }
                    }
                }
                &:nth-child(7) {
                    .uk-position-cover {
                        width: 0;
                        height: 0;
                        top: 0;
                        left: 0;
                        right: 100%;
                        bottom: 100%;
                    }
                    &:hover {
                        .uk-position-cover {
                            width: 100%;
                            height: 100%;
                            top: 0%;
                            left: 0%;
                            right: 0%;
                            bottom: 0%;
                        }
                    }
                }
                &:hover {
                    .btn-project {
                        opacity: 1;
                    }
                }
            }
        }
        .uk-dotnav {
            justify-content: center;
            margin: 3% 0;
        }

        * {
            color: $green;
        }
        .timeline ul {
            padding: 50px 0;
        }
        .timeline ul li {
            list-style-type: none;
            position: relative;
            width: 6px;
            margin: 0 auto;
            padding-top: 50px;
            background: $green;
        }
        .timeline ul li::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: rgba(52, 60, 65, 0.5);
        }
        .timeline ul li div {
            position: relative;
            bottom: 0;
            width: 400px;
            padding: 15px;
            background: rgba(52, 60, 65, 0.5);
        }
        .timeline ul li div::before {
            content: "";
            position: absolute;
            bottom: 7px;
            width: 0;
            height: 0;
            border-style: solid;
        }
        .timeline ul li:nth-child(odd) div {
            left: 45px;
        }
        .timeline ul li:nth-child(odd) div::before {
            left: -15px;
            border-width: 8px 16px 8px 0;
            border-color: transparent $green transparent transparent;
        }
        .timeline ul li:nth-child(even) div {
            left: -439px;
        }
        .timeline ul li:nth-child(even) div::before {
            right: -15px;
            border-width: 8px 0 8px 16px;
            border-color: transparent transparent transparent $green;
        }
        time {
            display: block;
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 8px;
        }

        /* EFFECTS
              –––––––––––––––––––––––––––––––––––––––––––––––––– */

        .timeline ul li::after {
            transition: background 0.5s ease-in-out;
        }

        .timeline ul li.in-view::after {
            background: $green;
        }

        .timeline ul li div {
            visibility: hidden;
            opacity: 0;
            transition: all 0.5s ease-in-out;
        }

        .timeline ul li:nth-child(odd) div {
            transform: translate3d(200px, 0, 0);
        }

        .timeline ul li:nth-child(even) div {
            transform: translate3d(-200px, 0, 0);
        }

        .timeline ul li.in-view div {
            transform: none;
            visibility: visible;
            opacity: 1;
        }

        /* GENERAL MEDIA QUERIES
              –––––––––––––––––––––––––––––––––––––––––––––––––– */

        @media screen and (max-width: 900px) {
            .timeline ul li div {
                width: 250px;
            }
            .timeline ul li:nth-child(even) div {
                left: -289px;
                /*250+45-6*/
            }
        }
        @media screen and (max-width: 600px) {
            .timeline ul li {
                margin-left: 20px;
            }
            .timeline ul li div {
                width: calc(100vw - 91px);
            }
            .timeline ul li:nth-child(even) div {
                left: 45px;
            }
            .timeline ul li:nth-child(even) div::before {
                left: -15px;
                border-width: 8px 16px 8px 0;
                border-color: transparent $green transparent transparent;
            }
        }
    }
    #contact {
        position: relative;
        .custom-shape-divider-top-1613751319 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(180deg);
        }
        .custom-shape-divider-top-1613751319 svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 100px;
        }
        .custom-shape-divider-top-1613751319 .shape-fill {
            fill: #1e2125;
        }
        .content {
            text-align: center;
            padding-bottom: 2%;
        }
        .uk-icon-button {
            background: $black;
            transition: all 0.3s ease-in-out;
            svg {
                color: $green;
            }
            &:hover {
                background: $green;
                svg {
                    color: $black;
                }
            }
        }
    }
    .preloader {
        background: $black;
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 1000;
        .bars-and-stuff {
            top: 0;
            position: absolute;
            left: 66.6%;
        }
        p {
            font-family: monospace;
            font-weight: bold;
            font-size: 2.1vh;
            margin: 0;
            padding: 0;
            line-height: 1;
            color: $green;
        }
        .msg {
            font-family: monospace;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 5vh;
            padding-top: 5vh;
            background: $black;
            box-shadow: 0 0 30px $green;
            text-shadow: 0 0 20px $green;
            color: $green;
            width: 20vw;
            height: 15vh;
            position: absolute;
            left: 50%;
            margin-left: -10vw;
            top: 50%;
            margin-top: -5vh;
            text-align: center;
            min-width: 200px;
            animation-name: blink;
            animation-duration: 0.6s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: linear;
            @media (max-width: 1000px) {
                margin-left: 0;
                top: 80%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        @keyframes blink {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        @keyframes done {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 1;
            }
        }
    }
}
