@font-face {
  font-family: "mountains_of_christmasregular";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/35984/mountainsofchristmas-webfont.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/35984/mountainsofchristmas-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 98vh;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#010c20));
  background: linear-gradient(#010c20);
}

body #logo {
  -webkit-animation-duration: 3;
          animation-duration: 3;
}

body #logo svg {
  position: absolute;
  left: 51%;
  top: 35%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 35vh;
  z-index: 999999;
}

@-webkit-keyframes faded {
  0% {
    fill: transparent;
  }
  100% {
    fill: transparent;
  }
}

@keyframes faded {
  0% {
    fill: transparent;
  }
  100% {
    fill: transparent;
  }
}

@-webkit-keyframes writing {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes writing {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

body #logo svg #logo_circle circle {
  -webkit-animation: faded 3s ease both;
          animation: faded 3s ease both;
}

body #logo svg #logo_circle path {
  fill: none;
  stroke: #031a46;
  stroke-width: 3;
  stroke-dasharray: 600 3000;
  stroke-dashoffset: 1000;
  -webkit-animation: writing 5s linear both;
          animation: writing 5s linear both;
}

body .container-svg {
  width: 102%;
  height: auto;
  margin-left: -1%;
}

@-webkit-keyframes twinkle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@-webkit-keyframes snowfall {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(80px, 150px);
            transform: translate(80px, 150px);
  }
}

@keyframes snowfall {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(80px, 150px);
            transform: translate(80px, 150px);
  }
}

@-webkit-keyframes lightson {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lightson {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes dimlight {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.95;
  }
}

@keyframes dimlight {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.95;
  }
}

@-webkit-keyframes sleighpath {
  0% {
    opacity: 0;
    -webkit-transform: translate(-3000px, 1000px);
            transform: translate(-3000px, 1000px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  31% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  35% {
    opacity: 1;
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
  }
  40% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
  }
  45% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
  }
  55% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
  }
  65% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
  }
  75% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(3000px, -1000px);
            transform: translate(3000px, -1000px);
  }
}

@keyframes sleighpath {
  0% {
    opacity: 0;
    -webkit-transform: translate(-3000px, 1000px);
            transform: translate(-3000px, 1000px);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  31% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  35% {
    opacity: 1;
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
  }
  40% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
  }
  45% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
  }
  55% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
  }
  65% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  70% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
  }
  75% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(3000px, -1000px);
            transform: translate(3000px, -1000px);
  }
}

body .container-svg #moon {
  position: absolute;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

body .container-svg #Layer_14 * {
  fill: white;
}

body .container-svg #star1 {
  -webkit-animation: twinkle 2s ease infinite;
          animation: twinkle 2s ease infinite;
}

body .container-svg #star1 polygon {
  fill: white;
}

body .container-svg #star2 {
  -webkit-transform: translateY(-43%);
          transform: translateY(-43%);
  -webkit-animation: twinkle 4s ease 1s infinite;
          animation: twinkle 4s ease 1s infinite;
}

body .container-svg #star2 polygon {
  fill: white;
}

body .container-svg #star3 {
  -webkit-transform: translateY(-18%);
          transform: translateY(-18%);
  -webkit-animation: twinkle 4s ease 0.5s infinite;
          animation: twinkle 4s ease 0.5s infinite;
}

body .container-svg #star3 polygon {
  fill: white;
}

body .container-svg #star4 {
  -webkit-animation: twinkle 3s ease 2s infinite;
          animation: twinkle 3s ease 2s infinite;
}

body .container-svg #star4 polygon {
  fill: white;
}

body .container-svg #snow1 {
  -webkit-animation: snowfall 2s infinite;
          animation: snowfall 2s infinite;
}

body .container-svg #snow1 circle {
  fill: white;
}

body .container-svg #snow2 {
  -webkit-animation: snowfall 1s 0.25s infinite;
          animation: snowfall 1s 0.25s infinite;
}

body .container-svg #snow2 circle {
  fill: white;
}

body .container-svg #snow3 {
  -webkit-animation: snowfall 1s 0.5s infinite;
          animation: snowfall 1s 0.5s infinite;
}

body .container-svg #snow3 circle {
  fill: white;
}

body .container-svg #snow4 {
  -webkit-animation: snowfall 1s 1s infinite;
          animation: snowfall 1s 1s infinite;
}

body .container-svg #snow4 circle {
  fill: white;
}

body .container-svg #snow5 {
  -webkit-animation: snowfall 2s 1.25s infinite;
          animation: snowfall 2s 1.25s infinite;
}

body .container-svg #snow5 circle {
  fill: white;
}

body .container-svg #snow6 {
  -webkit-animation: snowfall 1.5s 1.5s infinite;
          animation: snowfall 1.5s 1.5s infinite;
}

body .container-svg #snow6 circle {
  fill: white;
}

body .container-svg #snow7 {
  -webkit-animation: snowfall 0.5s 0.4s infinite;
          animation: snowfall 0.5s 0.4s infinite;
}

body .container-svg #snow7 circle {
  fill: white;
}

body .container-svg #snow8 {
  -webkit-animation: snowfall 0.5s 1s infinite;
          animation: snowfall 0.5s 1s infinite;
}

body .container-svg #snow8 circle {
  fill: white;
}

body .container-svg #snow9 {
  -webkit-animation: snowfall 1.5s 0.5s infinite;
          animation: snowfall 1.5s 0.5s infinite;
}

body .container-svg #snow9 circle {
  fill: white;
}

body .container-svg #snow10 {
  -webkit-animation: snowfall 1.5s 1s infinite;
          animation: snowfall 1.5s 1s infinite;
}

body .container-svg #snow10 circle {
  fill: white;
}

body .container-svg #snow11 {
  -webkit-animation: snowfall 0.5s 0.25s infinite;
          animation: snowfall 0.5s 0.25s infinite;
}

body .container-svg #snow11 circle {
  fill: white;
}

body .container-svg #BACKGROUND {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

body .container-svg #BACKGROUND * {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

body .container-svg #BACKGROUND .st6 {
  fill: white;
}

body .container-svg #BACKGROUND rect {
  display: none;
}

body .sleigh-santa {
  position: absolute;
  top: -16px;
  left: 100px;
  width: 295px;
  height: 155px;
  -webkit-transform: rotate(-20deg) translate(-166%, 81%);
          transform: rotate(-20deg) translate(-166%, 81%);
}

body .sleigh-santa .santa {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 125px;
  height: 107px;
  z-index: 10;
}

body .sleigh-santa .santa--sleigh {
  bottom: 0;
  left: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

body .sleigh-santa .santa--sleigh:before,
body .sleigh-santa .santa--sleigh:after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #8b0000;
}

body .sleigh-santa .santa--sleigh:before {
  left: -10px;
  width: 129px;
  height: 30px;
  border-radius: 5px 5% 10px 65%;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  z-index: 10;
  border-bottom: 2px solid #daa520;
}

body .sleigh-santa .santa--sleigh:after {
  border: 2px solid #daa520;
  left: 70px;
  bottom: 0px;
  width: 50px;
  height: 57px;
  border-radius: 50% 10px 16px 10px;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
  -webkit-box-shadow: -98px -2px 0px -18px #8b0000;
          box-shadow: -98px -2px 0px -18px #8b0000;
}

body .sleigh-santa .santa--sleigh .santa__hand--left .santa__hand-inner {
  -webkit-animation: sleigh-santa-hand-left 1s linear alternate infinite;
          animation: sleigh-santa-hand-left 1s linear alternate infinite;
}

body .sleigh-santa .santa--sleigh .santa__hand--right {
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  border-radius: 10px;
  height: 7px;
  -webkit-animation: sleigh-santa-hand-right 1s linear alternate infinite;
          animation: sleigh-santa-hand-right 1s linear alternate infinite;
}

body .sleigh-santa .santa--sleigh .santa__hand--right:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 7px;
  top: -2px;
  left: -6px;
  background-color: #000;
  border-radius: 50%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

body .sleigh-santa .santa--sleigh .santa__foot {
  display: none;
}

body .sleigh-santa .santa__hat-part {
  position: absolute;
  top: 7px;
  left: 31px;
  width: 43px;
  height: 58px;
  border-radius: 50%;
  -webkit-transform: rotate(28deg);
          transform: rotate(28deg);
  background-color: #d63527;
}

body .sleigh-santa .santa__hat-part:before,
body .sleigh-santa .santa__hat-part:after {
  content: "";
  position: absolute;
}

body .sleigh-santa .santa__hat-part:nth-of-type(1):before {
  top: 9px;
  left: 45px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: santa-hat-bobble 1s linear alternate infinite;
          animation: santa-hat-bobble 1s linear alternate infinite;
}

body .sleigh-santa .santa__hat-part:nth-of-type(1):after {
  top: 3px;
  left: 19px;
  width: 30px;
  height: 7px;
  border-radius: 50%;
  -webkit-transform: rotate(22deg);
          transform: rotate(22deg);
  background-color: #d63527;
  -webkit-animation: santa-hat-main 1s linear alternate infinite;
          animation: santa-hat-main 1s linear alternate infinite;
}

body .sleigh-santa .santa__hat-part:nth-of-type(2) {
  position: absolute;
  top: 18px;
  left: 31px;
  width: 44px;
  height: 34px;
  border-radius: 50%;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  background-color: #fff;
}

body .sleigh-santa .santa__face {
  position: absolute;
  top: 25px;
  left: 37px;
  width: 31px;
  height: 17px;
  border-radius: 20px 20px 50% 50%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  background-color: #fde2b7;
  z-index: 10;
}

body .sleigh-santa .santa__beard-part {
  position: absolute;
  top: 8px;
  left: -14px;
  width: 15px;
  height: 17px;
  border-radius: 50%;
  background-color: #fff;
}

body .sleigh-santa .santa__beard-part:before,
body .sleigh-santa .santa__beard-part:after {
  content: "";
  position: absolute;
  background-color: #fff;
}

body .sleigh-santa .santa__beard-part:before {
  top: 12px;
  left: 1px;
  width: 15px;
  height: 17px;
  border-radius: 50%;
}

body .sleigh-santa .santa__beard-part:nth-of-type(2) {
  top: 16px;
  left: -8px;
  width: 26px;
  height: 30px;
}

body .sleigh-santa .santa__beard-part:nth-of-type(2):before {
  top: 16px;
  left: 13px;
  width: 19px;
  height: 17px;
}

body .sleigh-santa .santa__beard-part:nth-of-type(2):after {
  top: 1px;
  left: 13px;
  width: 19px;
  height: 17px;
}

body .sleigh-santa .santa__beard-part:nth-of-type(3) {
  top: 16px;
  left: 14px;
  width: 27px;
  height: 28px;
}

body .sleigh-santa .santa__beard-part:nth-of-type(3):before {
  top: -4px;
  left: 13px;
  width: 17px;
  height: 17px;
}

body .sleigh-santa .santa__eyebrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
}

body .sleigh-santa .santa__eyebrows--left {
  top: 1px;
  left: 4px;
  -webkit-transform: rotate(65deg);
          transform: rotate(65deg);
}

body .sleigh-santa .santa__eyebrows--right {
  top: 2px;
  left: 22px;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
}

body .sleigh-santa .santa__eye {
  position: absolute;
  top: 8px;
  left: 2px;
  width: 3px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
}

body .sleigh-santa .santa__eye--left {
  top: 8px;
  left: 2px;
}

body .sleigh-santa .santa__eye--right {
  top: 8px;
  left: 20px;
}

body .sleigh-santa .santa__nose {
  position: absolute;
  top: 10px;
  left: 6px;
  width: 12px;
  height: 9px;
  border-radius: 50%;
  z-index: 10;
  background-color: #f7d194;
}

body .sleigh-santa .santa__cheek {
  position: absolute;
  top: 10px;
  left: 6px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  z-index: 10;
  background-color: #f4cfe3;
}

body .sleigh-santa .santa__cheek--left {
  top: 12px;
  left: -3px;
}

body .sleigh-santa .santa__cheek--right {
  top: 13px;
  left: 22px;
}

body .sleigh-santa .santa__body {
  position: absolute;
  top: 54px;
  left: 16px;
  width: 88px;
  height: 53px;
}

body .sleigh-santa .santa__body:before {
  content: "";
  position: absolute;
  top: -23px;
  right: -10px;
  width: 53px;
  height: 51px;
  border-radius: 42% 50%;
  background-color: #362312;
  z-index: -1;
  -webkit-box-shadow: 10px -21px 0px -20px #e1b12c, 15px -30px 0px -18px #362312;
          box-shadow: 10px -21px 0px -20px #e1b12c, 15px -30px 0px -18px #362312;
  -webkit-animation: santa-sac 0.6s linear alternate infinite;
          animation: santa-sac 0.6s linear alternate infinite;
}

body .sleigh-santa .santa__body-top {
  top: -3px;
  left: 10px;
  position: absolute;
  width: 45px;
  height: 39px;
  border-radius: 50% 50% 10% 10%;
  background-color: #d63527;
  z-index: 5;
}

body .sleigh-santa .santa__body-top:before {
  content: "";
  top: 28px;
  left: 0px;
  position: absolute;
  width: 45px;
  height: 5px;
  background-color: #000;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}

body .sleigh-santa .santa__body-top:after {
  content: "";
  top: 27px;
  left: 10px;
  position: absolute;
  width: 7px;
  height: 5px;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 3px;
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}

body .sleigh-santa .santa__body-bottom {
  position: absolute;
  top: 18px;
  left: 10px;
  width: 44px;
  height: 23px;
  border-radius: 50%;
  background-color: #d63527;
}

body .sleigh-santa .santa__hand {
  position: absolute;
}

body .sleigh-santa .santa__hand--left {
  top: 5px;
  left: 19px;
  width: 33px;
  height: 30px;
  overflow: hidden;
}

body .sleigh-santa .santa__hand--left .santa__hand-inner {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 49px;
  z-index: 100;
  height: 7px;
  border-radius: 10px;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  background-color: #d63527;
  -webkit-animation: santa-hand-left 1s linear alternate infinite;
          animation: santa-hand-left 1s linear alternate infinite;
}

body .sleigh-santa .santa__hand--left .santa__hand-inner:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 7px;
  top: -2px;
  left: -6px;
  background-color: #000;
  border-radius: 50%;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

body .sleigh-santa .santa__hand--right {
  top: 4px;
  left: 3px;
  width: 11px;
  height: 8px;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  border-radius: 50%;
  background-color: #d63527;
}

body .sleigh-santa .lead {
  position: absolute;
  top: 92px;
  left: 84px;
  width: 182px;
  height: 33px;
  overflow: hidden;
  z-index: 10;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: sleigh-santa-lead-right 1s linear alternate infinite;
          animation: sleigh-santa-lead-right 1s linear alternate infinite;
}

body .sleigh-santa .lead--back {
  top: 85px;
  left: 105px;
  width: 149px;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  z-index: 0;
  -webkit-animation: sleigh-santa-lead-left 1s linear alternate infinite;
          animation: sleigh-santa-lead-left 1s linear alternate infinite;
}

body .sleigh-santa .lead-inner {
  position: absolute;
  bottom: 0;
  left: -12px;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #fff;
  border-radius: 50%;
}

body .sleigh-santa .sleigh-feet {
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 145px;
  height: 11px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  border-bottom: 5px solid #996515;
  border-right: 5px solid #996515;
  border-radius: 10px;
  z-index: 2;
}

body .sleigh-santa .sleigh-feet:before,
body .sleigh-santa .sleigh-feet:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  background-color: #996515;
}

body .sleigh-santa .sleigh-feet:before {
  top: 2px;
  left: 34px;
  height: 9px;
}

body .sleigh-santa .sleigh-feet:after {
  top: 3px;
  left: 108px;
  width: 5px;
  height: 8px;
}

body .sleigh-santa .reindeer {
  position: absolute;
  width: 115px;
  height: 155px;
  right: 5px;
  top: 17px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  z-index: 0;
}

body .sleigh-santa .reindeer:before {
  content: "";
  position: absolute;
  top: 65px;
  left: 76px;
  width: 8px;
  height: 31px;
  background-color: #8b0000;
  z-index: 10;
  -webkit-transform: rotate(-55deg);
          transform: rotate(-55deg);
}

body .sleigh-santa .reindeer:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #daa520;
  z-index: 11;
  left: 64px;
  top: 68px;
  -webkit-box-shadow: 8px 6px 0 0 #daa520, 18px 13px 0 0 #daa520, 26px 18px 0 0 #daa520;
          box-shadow: 8px 6px 0 0 #daa520, 18px 13px 0 0 #daa520, 26px 18px 0 0 #daa520;
}

body .sleigh-santa .reindeer__face {
  position: absolute;
  width: 30px;
  height: 22px;
  top: 44px;
  left: 72px;
  border-radius: 10px 10px 50% 50%;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  background-color: #654321;
  -webkit-animation: reindeer-face 1.6s linear alternate infinite;
          animation: reindeer-face 1.6s linear alternate infinite;
}

body .sleigh-santa .reindeer__face:before {
  content: "";
  position: absolute;
  background-color: #654321;
  width: 29px;
  height: 16px;
  border-radius: 50%;
  top: 0px;
  left: 11px;
  -webkit-transform: rotate(-49deg);
          transform: rotate(-49deg);
}

body .sleigh-santa .reindeer__face:after {
  content: "";
  position: absolute;
  background-color: #8b0000;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: -8px;
  left: 31px;
}

body .sleigh-santa .reindeer__horn {
  position: absolute;
  width: 29px;
  height: 4px;
  top: -7px;
  left: -21px;
  border-radius: 2px;
  -webkit-transform: rotate(38deg);
          transform: rotate(38deg);
  background-color: #deb887;
}

body .sleigh-santa .reindeer__horn:before,
body .sleigh-santa .reindeer__horn:after {
  content: "";
  position: absolute;
  background-color: #deb887;
  border-radius: 2px;
}

body .sleigh-santa .reindeer__horn--left {
  top: -7px;
  left: -21px;
}

body .sleigh-santa .reindeer__horn--left:before {
  top: -4px;
  left: 6px;
  width: 14px;
  height: 4px;
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
}

body .sleigh-santa .reindeer__horn--left:after {
  top: -4px;
  left: 13px;
  width: 14px;
  height: 4px;
  -webkit-transform: rotate(43deg);
  transform: rotate(53deg);
}

body .sleigh-santa .reindeer__horn--right {
  top: -12px;
  left: -6px;
  width: 24px;
  -webkit-transform: rotate(62deg);
          transform: rotate(62deg);
}

body .sleigh-santa .reindeer__horn--right:before {
  top: -3px;
  left: 5px;
  width: 10px;
  height: 4px;
  -webkit-transform: rotate(43deg);
          transform: rotate(43deg);
}

body .sleigh-santa .reindeer__horn--right:after {
  top: -3px;
  left: 11px;
  width: 10px;
  height: 4px;
  -webkit-transform: rotate(53deg);
          transform: rotate(53deg);
}

body .sleigh-santa .reindeer__ear {
  position: absolute;
  width: 21px;
  height: 11px;
  top: 4px;
  left: -18px;
  border-radius: 4px 0 50% 50%;
  -webkit-transform: rotate(4deg);
          transform: rotate(4deg);
  background-color: #654321;
}

body .sleigh-santa .reindeer__ear:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 34px;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  background-color: #000;
}

body .sleigh-santa .reindeer__body {
  position: absolute;
  width: 58px;
  height: 31px;
  top: 84px;
  left: 28px;
  border-radius: 50% 0;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  background-color: #654321;
}

body .sleigh-santa .reindeer__body:before {
  content: "";
  position: absolute;
  width: 46px;
  height: 26px;
  top: -15px;
  left: 32px;
  border-radius: 0 0 50% 50%;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-55deg);
  background-color: #654321;
}

body .sleigh-santa .reindeer__body:after {
  content: "";
  position: absolute;
  width: 43px;
  height: 26px;
  top: -11px;
  left: 29px;
  border-radius: 0 0 50% 50%;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-30deg);
  background-color: #654321;
}

body .sleigh-santa .reindeer__foot-inner {
  position: absolute;
}

body .sleigh-santa .reindeer__foot-inner:before,
body .sleigh-santa .reindeer__foot-inner:after {
  content: "";
  position: absolute;
}

body .sleigh-santa .reindeer__foot--inside {
  z-index: 2;
  -webkit-transform: rotate(-12deg) translate(3px, 0px);
          transform: rotate(-12deg) translate(3px, 0px);
}

body .sleigh-santa .reindeer__foot--front .reindeer__foot-inner {
  width: 40px;
  height: 8px;
  top: 13px;
  left: 35px;
  border-radius: 0 50%;
  -webkit-transform: rotate(-17deg);
          transform: rotate(-17deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  background-color: #654321;
  -webkit-animation: reindeer-front 1.6s linear alternate infinite;
          animation: reindeer-front 1.6s linear alternate infinite;
}

body .sleigh-santa .reindeer__foot--front .reindeer__foot-inner:before {
  width: 28px;
  height: 8px;
  top: 0px;
  left: 37px;
  border-radius: 2px 50%;
  -webkit-transform: rotate(131deg);
          transform: rotate(131deg);
  background-color: #654321;
  -webkit-animation: reindeer-front-ext 1.7s linear alternate infinite;
          animation: reindeer-front-ext 1.7s linear alternate infinite;
}

body .sleigh-santa .reindeer__foot--front .reindeer__foot-inner:after {
  width: 8px;
  height: 9px;
  top: 27px;
  left: 32px;
  border-radius: 2px;
  -webkit-transform: rotate(131deg);
          transform: rotate(131deg);
  background-color: #362514;
  -webkit-animation: reindeer-front-ext-hoof 1.7s linear alternate infinite;
          animation: reindeer-front-ext-hoof 1.7s linear alternate infinite;
}

body .sleigh-santa .reindeer__foot--back .reindeer__foot-inner {
  width: 56px;
  height: 9px;
  top: 35px;
  left: -29px;
  border-radius: 0 50%;
  -webkit-transform: rotate(-73deg);
          transform: rotate(-73deg);
  background-color: #654321;
  -webkit-animation: reindeer-back 1.7s linear alternate infinite;
          animation: reindeer-back 1.7s linear alternate infinite;
}

body .sleigh-santa .reindeer__foot--back .reindeer__foot-inner:before {
  width: 25px;
  height: 16px;
  top: 4px;
  left: 25px;
  border-radius: 0 50%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  background-color: #654321;
}

body .sleigh-santa .reindeer__foot--back .reindeer__foot-inner:after {
  width: 8px;
  height: 9px;
  top: -2px;
  left: -2px;
  border-radius: 2px 0 2px 2px;
  -webkit-transform: rotate(14deg);
          transform: rotate(14deg);
  background-color: #362514;
}

body .sleigh-santa .reindeer__tail {
  position: absolute;
  width: 27px;
  height: 26px;
  top: 6px;
  left: -8px;
  border-radius: 50% 2px;
  -webkit-transform: rotate(-17deg);
          transform: rotate(-17deg);
  background-color: #654321;
}

body .sleigh-santa .reindeer__tail:before {
  content: "";
  position: absolute;
  background-color: #654321;
  border-radius: 50%;
  top: -2px;
  left: -3px;
  width: 15px;
  height: 5px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

body .sleigh-santa .reindeer__spots {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 6px;
  left: 8px;
  border-radius: 50% 2px;
  background-color: #deb887;
  -webkit-box-shadow: 5px 5px 0 0 #deb887, -5px 5px 0 0 #deb887;
          box-shadow: 5px 5px 0 0 #deb887, -5px 5px 0 0 #deb887;
}

body .sleigh-santa .particles {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -10;
}

body .sleigh-santa .particles:before,
body .sleigh-santa .particles:after {
  position: absolute;
  content: "";
  background-color: #fff;
}

body .sleigh-santa .particles:after {
  left: 0px;
  top: 0px;
  width: 4px;
  height: 4px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -webkit-animation: particles 4s linear infinite;
          animation: particles 4s linear infinite;
  -webkit-box-shadow: -20px 15px 0px 0px #fff, -40px -5px 0px 0px #fff, -20px 45px 0px 0px #fff, -50px 30px 0px 0px #fff, 30px -20px 0px 0px #fff, 50px -60px 0px 0px #fff, 100px -110px 0px 0px #fff, 140px -160px 0px 0px #fff, 50px -90px 0px 0px #fff, 100px -140px 0px 0px #fff, 140px -190px 0px 0px #fff, -40px 15px 0px -1px #fff, -60px -5px 0px -1px #fff, -40px 45px 0px -1px #fff, -70px 30px 0px -1px #fff, 50px -20px 0px -1px #fff, 70px -60px 0px -1px #fff, 120px -110px 0px -1px #fff, 160px -160px 0px -1px #fff, 70px -90px 0px -1px #fff, 120px -140px 0px -1px #fff, 160px -190px 0px -1px #fff, 0px 15px 0px -2px #fff, -20px -5px 0px -2px #fff, 0px 45px 0px -2px #fff, -30px 30px 0px -2px #fff, 10px -20px 0px -2px #fff, 30px -60px 0px -2px #fff, 80px -110px 0px -2px #fff, 120px -160px 0px -2px #fff, 30px -90px 0px -2px #fff, 80px -140px 0px -2px #fff, 120px -190px 0px -2px #fff;
          box-shadow: -20px 15px 0px 0px #fff, -40px -5px 0px 0px #fff, -20px 45px 0px 0px #fff, -50px 30px 0px 0px #fff, 30px -20px 0px 0px #fff, 50px -60px 0px 0px #fff, 100px -110px 0px 0px #fff, 140px -160px 0px 0px #fff, 50px -90px 0px 0px #fff, 100px -140px 0px 0px #fff, 140px -190px 0px 0px #fff, -40px 15px 0px -1px #fff, -60px -5px 0px -1px #fff, -40px 45px 0px -1px #fff, -70px 30px 0px -1px #fff, 50px -20px 0px -1px #fff, 70px -60px 0px -1px #fff, 120px -110px 0px -1px #fff, 160px -160px 0px -1px #fff, 70px -90px 0px -1px #fff, 120px -140px 0px -1px #fff, 160px -190px 0px -1px #fff, 0px 15px 0px -2px #fff, -20px -5px 0px -2px #fff, 0px 45px 0px -2px #fff, -30px 30px 0px -2px #fff, 10px -20px 0px -2px #fff, 30px -60px 0px -2px #fff, 80px -110px 0px -2px #fff, 120px -160px 0px -2px #fff, 30px -90px 0px -2px #fff, 80px -140px 0px -2px #fff, 120px -190px 0px -2px #fff;
}

body .sleigh-santa .particles:before {
  left: 10px;
  top: 0px;
  width: 2px;
  height: 2px;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-animation: particles 5s linear infinite;
          animation: particles 5s linear infinite;
  -webkit-box-shadow: -20px 15px 0px 0px #fff, -40px -5px 0px 0px #fff, -20px 45px 0px 0px #fff, -50px 30px 0px 0px #fff, 30px -20px 0px 0px #fff, 50px -60px 0px 0px #fff, 100px -110px 0px 0px #fff, 140px -160px 0px 0px #fff, 50px -90px 0px 0px #fff, 100px -140px 0px 0px #fff, 140px -190px 0px 0px #fff, -40px 15px 0px -1px #fff, -60px -5px 0px -1px #fff, -40px 45px 0px -1px #fff, -70px 30px 0px -1px #fff, 50px -20px 0px -1px #fff, 70px -60px 0px -1px #fff, 120px -110px 0px -1px #fff, 160px -160px 0px -1px #fff, 70px -90px 0px -1px #fff, 120px -140px 0px -1px #fff, 160px -190px 0px -1px #fff, 0px 15px 0px -2px #fff, -20px -5px 0px -2px #fff, 0px 45px 0px -2px #fff, -30px 30px 0px -2px #fff, 10px -20px 0px -2px #fff, 30px -60px 0px -2px #fff, 80px -110px 0px -2px #fff, 120px -160px 0px -2px #fff, 30px -90px 0px -2px #fff, 80px -140px 0px -2px #fff, 120px -190px 0px -2px #fff;
          box-shadow: -20px 15px 0px 0px #fff, -40px -5px 0px 0px #fff, -20px 45px 0px 0px #fff, -50px 30px 0px 0px #fff, 30px -20px 0px 0px #fff, 50px -60px 0px 0px #fff, 100px -110px 0px 0px #fff, 140px -160px 0px 0px #fff, 50px -90px 0px 0px #fff, 100px -140px 0px 0px #fff, 140px -190px 0px 0px #fff, -40px 15px 0px -1px #fff, -60px -5px 0px -1px #fff, -40px 45px 0px -1px #fff, -70px 30px 0px -1px #fff, 50px -20px 0px -1px #fff, 70px -60px 0px -1px #fff, 120px -110px 0px -1px #fff, 160px -160px 0px -1px #fff, 70px -90px 0px -1px #fff, 120px -140px 0px -1px #fff, 160px -190px 0px -1px #fff, 0px 15px 0px -2px #fff, -20px -5px 0px -2px #fff, 0px 45px 0px -2px #fff, -30px 30px 0px -2px #fff, 10px -20px 0px -2px #fff, 30px -60px 0px -2px #fff, 80px -110px 0px -2px #fff, 120px -160px 0px -2px #fff, 30px -90px 0px -2px #fff, 80px -140px 0px -2px #fff, 120px -190px 0px -2px #fff;
}

@-webkit-keyframes reindeer-face {
  0% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  100% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

@keyframes reindeer-face {
  0% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  100% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}

@-webkit-keyframes reindeer-back {
  0% {
    -webkit-transform: rotate(-81deg) translate(-6px, 0px);
            transform: rotate(-81deg) translate(-6px, 0px);
  }
  100% {
    -webkit-transform: rotate(-60deg) translate(0px, 0px);
            transform: rotate(-60deg) translate(0px, 0px);
  }
}

@keyframes reindeer-back {
  0% {
    -webkit-transform: rotate(-81deg) translate(-6px, 0px);
            transform: rotate(-81deg) translate(-6px, 0px);
  }
  100% {
    -webkit-transform: rotate(-60deg) translate(0px, 0px);
            transform: rotate(-60deg) translate(0px, 0px);
  }
}

@-webkit-keyframes reindeer-front {
  0% {
    -webkit-transform: rotate(-24deg);
            transform: rotate(-24deg);
  }
  100% {
    -webkit-transform: rotate(-13deg);
            transform: rotate(-13deg);
  }
}

@keyframes reindeer-front {
  0% {
    -webkit-transform: rotate(-24deg);
            transform: rotate(-24deg);
  }
  100% {
    -webkit-transform: rotate(-13deg);
            transform: rotate(-13deg);
  }
}

@-webkit-keyframes reindeer-front-ext {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(145deg);
            transform: rotate(145deg);
  }
}

@keyframes reindeer-front-ext {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(145deg);
            transform: rotate(145deg);
  }
}

@-webkit-keyframes reindeer-front-ext-hoof {
  0% {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: rotate(-32deg) translate(14px, 1px);
            transform: rotate(-32deg) translate(14px, 1px);
  }
  100% {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: rotate(52deg) translate(-21px, 0px);
            transform: rotate(52deg) translate(-21px, 0px);
  }
}

@keyframes reindeer-front-ext-hoof {
  0% {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: rotate(-32deg) translate(14px, 1px);
            transform: rotate(-32deg) translate(14px, 1px);
  }
  100% {
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: rotate(52deg) translate(-21px, 0px);
            transform: rotate(52deg) translate(-21px, 0px);
  }
}

@-webkit-keyframes sleigh-santa-lead-left {
  0% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

@keyframes sleigh-santa-lead-left {
  0% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

@-webkit-keyframes sleigh-santa-hand-left {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

@keyframes sleigh-santa-hand-left {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

@-webkit-keyframes sleigh-santa-lead-right {
  0% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
}

@keyframes sleigh-santa-lead-right {
  0% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
}

@-webkit-keyframes sleigh-santa-hand-right {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@keyframes sleigh-santa-hand-right {
  0% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
}

@-webkit-keyframes santa-hat-main {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@keyframes santa-hat-main {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@-webkit-keyframes santa-hat-bobble {
  0% {
    -webkit-transform: translate(0px, -15px);
            transform: translate(0px, -15px);
  }
  100% {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
}

@keyframes santa-hat-bobble {
  0% {
    -webkit-transform: translate(0px, -15px);
            transform: translate(0px, -15px);
  }
  100% {
    -webkit-transform: translate(0px, 5px);
            transform: translate(0px, 5px);
  }
}

@-webkit-keyframes santa-sac {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes santa-sac {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes particles {
  0% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-80px, 80px);
            transform: translate(-80px, 80px);
    opacity: 0;
  }
}

@keyframes particles {
  0% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-80px, 80px);
            transform: translate(-80px, 80px);
    opacity: 0;
  }
}

@-webkit-keyframes moving {
  0% {
    -webkit-transform: rotate(-20deg) translate(-166%, 81%);
            transform: rotate(-20deg) translate(-166%, 81%);
  }
  50% {
    -webkit-transform: rotate(5deg) translate(155%, 35%);
            transform: rotate(5deg) translate(155%, 35%);
  }
  100% {
    -webkit-transform: rotate(15deg) translate(450%, -65%);
            transform: rotate(15deg) translate(450%, -65%);
  }
}

@keyframes moving {
  0% {
    -webkit-transform: rotate(-20deg) translate(-166%, 81%);
            transform: rotate(-20deg) translate(-166%, 81%);
  }
  50% {
    -webkit-transform: rotate(5deg) translate(155%, 35%);
            transform: rotate(5deg) translate(155%, 35%);
  }
  100% {
    -webkit-transform: rotate(15deg) translate(450%, -65%);
            transform: rotate(15deg) translate(450%, -65%);
  }
}

body .sleigh-santa.anime {
  -webkit-animation: moving 8s linear both;
          animation: moving 8s linear both;
}

body .snowman {
  opacity: 0;
  position: absolute;
  bottom: 0px;
  right: 250px;
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 50%;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
  -webkit-animation: snowman-body 5s infinite;
  /* Safari 4.0 - 8.0 */
  animation: snowman-body 5s infinite;
}

body .snowman .hat {
  z-index: 3;
  position: absolute;
  top: 3px;
  left: 43px;
  width: 95px;
  height: 10px;
  background: black;
  border-radius: 50% 50% 30px 30px;
  overflow: hidden;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

body .snowman .hati {
  z-index: 2;
  position: absolute;
  top: -8px;
  left: 56px;
  height: 17px;
  width: 70px;
  background: #ce1e2a;
  border-radius: 3px;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

body .snowman .hatii {
  z-index: 1;
  position: absolute;
  top: -35px;
  left: 58px;
  width: 60px;
  height: 2px;
  border-top: 30px solid black;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-radius: 6px;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
}

body .snowman .eye1 {
  position: absolute;
  top: 30px;
  left: calc(50% - 30px);
  height: 10px;
  width: 15px;
  border-top: 3px solid #565656;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 50%;
}

body .snowman .eye2 {
  position: absolute;
  top: 30px;
  right: calc(50% - 30px);
  height: 10px;
  width: 15px;
  border-top: 3px solid #565656;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 50%;
}

body .snowman .nose {
  position: absolute;
  z-index: 2;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 20px;
  width: 0px;
  border-top: 15px solid orangered;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-radius: 5px 5px 0 0;
}

body .snowman .mouth {
  z-index: 3;
  position: absolute;
  top: 43px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 12px;
  width: 40px;
  border-bottom: 3px solid #565656;
  border-left: 0px solid transparent;
  border-right: 0px solid transparent;
  border-top: 0px solid transparent;
  border-radius: 50%;
}

body .snowman .scarf {
  position: absolute;
  bottom: 60px;
  left: -3%;
  width: 105%;
  height: 35px;
  overflow: hidden;
}

body .snowman .scarfi {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 120%;
  background: #ce1e2a;
  border-radius: 30%;
  overflow: hidden;
}

body .snowman .scarfii {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 120%;
  background: white;
  border-radius: 50%;
  overflow: hidden;
}

body .snowman .scarf2 {
  position: absolute;
  bottom: 38px;
  right: 0px;
  width: 1px;
  height: 1px;
  background: #ce1e2a;
  border-top: 20px solid #ce1e2a;
  border-left: 25px solid #ce1e2a;
  border-right: 50px solid #ce1e2a;
  border-bottom: 20px solid #ce1e2a;
  border-radius: 50px 300% 31px 50px;
  -webkit-transform: rotate(85deg) scale(0.8);
          transform: rotate(85deg) scale(0.8);
}

body .snowman .button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 10px;
  width: 10px;
  background: #565656;
  border-radius: 50%;
}

body .snowman .button2 {
  position: absolute;
  display: block;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 6px;
  width: 6px;
  background: #565656;
  border-radius: 50%;
}

@-webkit-keyframes snowman-body {
  50% {
    -webkit-transform: rotate(7deg);
            transform: rotate(7deg);
  }
}

@keyframes snowman-body {
  50% {
    -webkit-transform: rotate(7deg);
            transform: rotate(7deg);
  }
}

body .snowman .santa {
  position: absolute;
  bottom: 0;
  left: 450px;
  width: 150px;
  height: 200px;
}

body .snowman .santa-body {
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 150px;
  background: #ffdcb1;
  border-radius: 50%;
  overflow: hidden;
}

body .snowman .santa-jacket {
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 90px;
  overflow: hidden;
}

body .snowman .santa-jacket span:nth-child(1) {
  position: absolute;
  bottom: -70px;
  left: -70px;
  width: 150px;
  height: 150px;
  background: #ce1e2a;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
}

body .snowman .santa-jacket span:nth-child(2) {
  position: absolute;
  bottom: -70px;
  right: -70px;
  width: 150px;
  height: 150px;
  background: #ce1e2a;
  -webkit-transform: rotate(65deg);
          transform: rotate(65deg);
}

body .snowman .santa-jacket-fluff {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 200px;
}

body .snowman .santa-jacket-fluff span:nth-child(1) {
  z-index: 1;
  position: absolute;
  left: 27px;
  bottom: 28px;
  width: 3px;
  border-top: 80px solid lightgrey;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  -webkit-transform: rotate(-65deg);
          transform: rotate(-65deg);
}

body .snowman .santa-jacket-fluff span:nth-child(2) {
  z-index: 1;
  position: absolute;
  right: 77px;
  bottom: 28px;
  width: 3px;
  border-top: 80px solid lightgrey;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  -webkit-transform: rotate(65deg);
          transform: rotate(65deg);
}

body .snowman .santa-jacket-fluff span:nth-child(3) {
  z-index: 1;
  position: absolute;
  left: -10px;
  bottom: 70px;
  width: 29px;
  height: 29px;
  background: lightgrey;
  border-radius: 50%;
}

body .snowman .santa-jacket-fluff span:nth-child(4) {
  z-index: 1;
  position: absolute;
  right: 40px;
  bottom: 70px;
  width: 29px;
  height: 29px;
  background: lightgray;
  border-radius: 50%;
}

body .snowman .santa-beard {
  z-index: 2;
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
  height: 70px;
  width: 60px;
  border-radius: 50%;
  background: white;
}

body .snowman .santa-beard span:nth-child(1) {
  display: block;
  position: absolute;
  left: calc(50% - 4px);
  bottom: -5px;
  width: 0px;
  border-bottom: 30px solid white;
  border-right: 30px solid white;
  border-radius: 0 0 50px 0;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

body .snowman .santa-beard span:nth-child(2) {
  display: block;
  position: absolute;
  right: calc(50% - 4px);
  bottom: -5px;
  width: 0px;
  border-bottom: 30px solid white;
  border-left: 30px solid white;
  border-radius: 0 0 0 50px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

body .snowman .santa-beard span:nth-child(3) {
  display: block;
  position: absolute;
  left: calc(50% + 8px);
  bottom: 10px;
  width: 0px;
  border-bottom: 30px solid white;
  border-right: 30px solid white;
  border-radius: 0 0 50px 0;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

body .snowman .santa-beard span:nth-child(4) {
  display: block;
  position: absolute;
  right: calc(50% + 8px);
  bottom: 10px;
  width: 0px;
  border-bottom: 30px solid white;
  border-right: 30px solid white;
  border-radius: 0 0 0 50px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

body .snowman .santa-beard span:nth-child(5) {
  display: block;
  position: absolute;
  right: calc(50% + 8px);
  bottom: 25px;
  width: 0px;
  border-bottom: 30px solid white;
  border-right: 30px solid white;
  border-radius: 0 0 0 50px;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
}

body .snowman .santa-beard span:nth-child(6) {
  display: block;
  position: absolute;
  left: calc(50% + 8px);
  bottom: 25px;
  width: 0px;
  border-bottom: 30px solid white;
  border-right: 30px solid white;
  border-radius: 0 0 50px 0;
  -webkit-transform: rotate(-80deg);
          transform: rotate(-80deg);
}

body .snowman .santa-beard span:nth-child(7) {
  display: block;
  position: absolute;
  left: calc(50% + 8px);
  bottom: 50px;
  width: 0px;
  border-bottom: 15px solid white;
  border-right: 30px solid white;
  border-radius: 0 0 50px 0;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

body .snowman .santa-beard span:nth-child(8) {
  display: block;
  position: absolute;
  right: calc(50% + 8px);
  bottom: 50px;
  width: 0px;
  border-bottom: 15px solid white;
  border-right: 30px solid white;
  border-radius: 0 0 0 50px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

body .snowman .santa-hat {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100px;
}

body .snowman .santa-hat span:nth-child(1) {
  z-index: 3;
  position: absolute;
  display: block;
  top: 45px;
  left: 44px;
  width: 65px;
  height: 18px;
  border-radius: 5px;
  background: white;
}

body .snowman .santa-hat span:nth-child(2) {
  z-index: 2;
  position: absolute;
  display: block;
  top: 10px;
  left: 60px;
  width: 0px;
  height: 0px;
  border-top: 45px solid #ce1e2a;
  border-left: 45px solid #ce1e2a;
  border-radius: 50px 0 0 0;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

body .snowman .santa-hat span:nth-child(3) {
  z-index: 1;
  position: absolute;
  display: block;
  top: 10px;
  right: 30px;
  width: 17px;
  height: 17px;
  background: white;
  border-radius: 50%;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

body .snowman .santa-nose {
  z-index: 2;
  position: absolute;
  top: 95px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 18px;
  border-radius: 50%;
  background: #ce1e2a;
}

body .snowman .santa-eye1 {
  position: absolute;
  top: 28px;
  left: calc(50% - 26px);
  width: 18px;
  height: 13px;
  border: 2px solid #565656;
  border-radius: 15%;
  background: white;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

body .snowman .santa-eye1::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 18px;
  width: 10px;
  height: 2px;
  background: #565656;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

body .snowman .santa-eye2 {
  position: absolute;
  top: 28px;
  right: calc(50% - 26px);
  width: 18px;
  height: 13px;
  border: 2px solid #565656;
  border-radius: 15%;
  background: white;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

body .snowman .santa-pup1 {
  position: absolute;
  right: 5px;
  top: 30%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: black;
}

body .snowman .santa-pup2 {
  position: absolute;
  left: 5px;
  top: 30%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: black;
}

body .snowman .santa-mouth {
  z-index: 3;
  position: absolute;
  left: 50%;
  bottom: 70px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
}

body .animal {
  position: absolute;
  bottom: 0px;
  left: 50px;
  opacity: 0;
  height: 200px;
  width: 150px;
}

body .animal .reindeer-body {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 150px;
  width: 150px;
  background: #8c4405;
  border-radius: 50%;
  overflow: hidden;
  -webkit-animation: reindeer-blink-body 10s infinite;
  /* Safari 4.0 - 8.0 */
  animation: reindeer-blink-body 10s infinite;
}

body .animal .reindeer-horn1 {
  z-index: 1;
  position: absolute;
  top: -5px;
  right: 20px;
  width: 30px;
  height: 60px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 12px solid #562a04;
  border-radius: 50%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation: reindeer-blink-horns 10s infinite;
  /* Safari 4.0 - 8.0 */
  animation: reindeer-blink-horns 10s infinite;
}

body .animal .reindeer-horn2 {
  z-index: 1;
  position: absolute;
  top: -5px;
  left: 20px;
  width: 30px;
  height: 60px;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 12px solid #562a04;
  border-radius: 50%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  -webkit-animation: reindeer-blink-horns 10s infinite;
  /* Safari 4.0 - 8.0 */
  animation: reindeer-blink-horns 10s infinite;
}

body .animal .reindeer-horn2::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: -5px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #562a04;
}

body .animal .reindeer-horn1::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  right: -5px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #562a04;
}

body .animal .reindeer-horn1i {
  z-index: 1;
  position: absolute;
  top: 50px;
  right: 44px;
  width: 10px;
  height: 20px;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-left: 9px solid #562a04;
  border-radius: 50%;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

body .animal .reindeer-horn1i::before {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  left: -6px;
  width: 9px;
  height: 9px;
  background: #562a04;
  border-radius: 50%;
}

body .animal .reindeer-horn2i::before {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  right: -6px;
  width: 9px;
  height: 9px;
  background: #562a04;
  border-radius: 50%;
}

body .animal .reindeer-horn2i {
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 44px;
  width: 10px;
  height: 20px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 9px solid #562a04;
  border-radius: 50%;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

body .animal .reindeer-ear1 {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 55px;
  left: 10px;
  border-top: 20px solid #8c4405;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 15px solid transparent;
  border-radius: 50%;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  -webkit-animation: reindeer-blink-ears 10s infinite;
  /* Safari 4.0 - 8.0 */
  animation: reindeer-blink-ears 10s infinite;
}

body .animal .reindeer-ear2 {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 55px;
  right: 10px;
  border-top: 20px solid #8c4405;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 15px solid transparent;
  border-radius: 50%;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  -webkit-animation: reindeer-blink-ears 10s infinite;
  /* Safari 4.0 - 8.0 */
  animation: reindeer-blink-ears 10s infinite;
}

body .animal .reindeer-ear1i {
  position: absolute;
  top: -10px;
  left: -3px;
  height: 5px;
  border-top: 5px solid #562a04;
  border-left: 4px solid #562a04;
  border-right: 3px solid #562a04;
  border-bottom: 5px solid b #562a04;
  border-radius: 50%;
}

body .animal .reindeer-ear2i {
  position: absolute;
  top: -10px;
  left: -3px;
  height: 5px;
  border-top: 5px solid #562a04;
  border-left: 4px solid #562a04;
  border-right: 3px solid #562a04;
  border-bottom: 5px solid b #562a04;
  border-radius: 50%;
}

body .animal .reindeer-eye1 {
  position: absolute;
  top: 25px;
  left: calc(50% - 23px);
  width: 15px;
  height: 20px;
  border-radius: 50%;
  background: white;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-animation: reindeer-blink 10s infinite;
  /* Safari 4.0 - 8.0 */
  animation: reindeer-blink 10s infinite;
}

body .animal .reindeer-eye2 {
  position: absolute;
  top: 25px;
  right: calc(50% - 23px);
  width: 15px;
  height: 20px;
  border-radius: 50%;
  background: white;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  -webkit-animation: reindeer-blink 10s infinite;
  /* Safari 4.0 - 8.0 */
  animation: reindeer-blink 10s infinite;
}

body .animal .reindeer-pup1 {
  position: absolute;
  right: 5px;
  top: 45%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: black;
}

body .animal .reindeer-pup2 {
  position: absolute;
  left: 5px;
  top: 45%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: black;
}

body .animal .reindeer-nose {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 45px;
  width: 30px;
  height: 20px;
  border-radius: 50%;
  background: #562a04;
}

body .animal .reindeer-mouth {
  position: absolute;
  top: 42px;
  right: 52px;
  width: 30px;
  height: 30px;
  border-left: 2px solid transparent;
  border-bottom: 2px solid black;
  border-radius: 50%;
}

body .animal .reindeer-belly {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -60%;
  width: 115px;
  height: 150px;
  border-radius: 50%;
  background: white;
  -webkit-animation: reindeer-blink-belly 10s infinite;
  /* Safari 4.0 - 8.0 */
  animation: reindeer-blink-belly 10s infinite;
}

@-webkit-keyframes reindeer-blink {
  0%,
  48%,
  52%,
  80%,
  84%,
  88%,
  100% {
    height: 20px;
    top: 25px;
  }
  50%,
  82%,
  86% {
    height: 2px;
    top: 35px;
  }
}

@keyframes reindeer-blink {
  0%,
  48%,
  52%,
  80%,
  84%,
  88%,
  100% {
    height: 20px;
    top: 25px;
  }
  50%,
  82%,
  86% {
    height: 2px;
    top: 35px;
  }
}

@-webkit-keyframes reindeer-blink-body {
  0%,
  48%,
  52%,
  80%,
  84%,
  88%,
  100% {
    height: 150px;
  }
  50%,
  82%,
  86% {
    height: 149px;
  }
}

@keyframes reindeer-blink-body {
  0%,
  48%,
  52%,
  80%,
  84%,
  88%,
  100% {
    height: 150px;
  }
  50%,
  82%,
  86% {
    height: 149px;
  }
}

@-webkit-keyframes reindeer-blink-belly {
  0%,
  48%,
  52%,
  80%,
  84%,
  88%,
  100% {
    bottom: -60%;
  }
  50%,
  82%,
  86% {
    bottom: -61%;
  }
}

@keyframes reindeer-blink-belly {
  0%,
  48%,
  52%,
  80%,
  84%,
  88%,
  100% {
    bottom: -60%;
  }
  50%,
  82%,
  86% {
    bottom: -61%;
  }
}

@-webkit-keyframes reindeer-blink-horns {
  0%,
  48%,
  52%,
  80%,
  84%,
  88%,
  100% {
    top: -5px;
  }
  50%,
  82%,
  86% {
    top: -4px;
  }
}

@keyframes reindeer-blink-horns {
  0%,
  48%,
  52%,
  80%,
  84%,
  88%,
  100% {
    top: -5px;
  }
  50%,
  82%,
  86% {
    top: -4px;
  }
}

@-webkit-keyframes reindeer-blink-ears {
  0%,
  48%,
  52%,
  80%,
  84%,
  88%,
  100% {
    top: 55px;
  }
  50%,
  82%,
  86% {
    top: 56px;
  }
}

@keyframes reindeer-blink-ears {
  0%,
  48%,
  52%,
  80%,
  84%,
  88%,
  100% {
    top: 55px;
  }
  50%,
  82%,
  86% {
    top: 56px;
  }
}

body .tree {
  position: absolute;
  left: 50%;
  opacity: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 50vh;
  width: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
}

body .word {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Lobster", cursive;
  font-size: 3rem;
}

body .word svg {
  max-width: 100%;
  visibility: hidden;
  overflow: visible;
}

body .word2 {
  position: absolute;
  font-family: "Lobster", cursive;
  font-size: 3rem;
  top: 37%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.logo {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 10vw;
  display: none;
}

.santahats {
  position: absolute;
  top: 4%;
  left: 9%;
  width: 6vw;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  display: none;
}
/*# sourceMappingURL=style.css.map */