$black: black;
$white: white;
$pink: #ed5887;
$purple: #373173;
$overlay: #00000087;
$bg: #a3a3a378;
$sec-text: #424242;

body {
    font-family: "Source Sans Pro", sans-serif !important;
}

header {
    nav {
        .center {
            margin: 0 auto;
            ul {
                .active {
                    a {
                        color: $pink !important;
                        &:hover {
                            color: $purple !important;
                        }
                    }
                }
                li {
                    a {
                        &:hover {
                            color: $pink !important;
                        }
                    }
                }
            }
        }
        .btn-1,
        .btn-2 {
            margin-left: 10px;
            a {
                color: $white;
                text-decoration: none;
            }
        }
        .btn-1 {
            background-color: $purple;
            border-color: $purple;
            &:hover {
                background-color: $pink;
                border-color: $pink;
            }
        }
        .btn-2 {
            background-color: $pink;
            border-color: $pink;
            &:hover {
                background-color: $purple;
                border-color: $purple;
            }
        }
        img {
            width: 150px;
        }
    }
}
.slider {
    ul {
        li {
            h2 {
                text-shadow: 2px 2px $purple;
                color: $pink;
            }
            p {
                text-shadow: 2px 2px $purple;
                color: $white;
            }
        }
    }
}
.services {
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        .row {
            margin-right: 0;
            margin-left: 0;
            .col-lg-3,
            .col-md-3,
            .col-sm-1 {
                padding-right: 0;
                padding-left: 0;
                .men {
                    background: url(../imagesh/men.jpg);
                }
                .women {
                    background: url(../imagesh/women.jpg);
                }
                .men,
                .women {
                    padding: 20px 20px;
                    height: 560px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    .men-desc {
                        position: absolute;
                        margin: 35px;
                        width: 80%;
                        text-align: center;
                        border: 1px solid $purple;
                        padding-top: 200px;
                        padding-bottom: 200px;
                        .men-title {
                            color: $white !important;
                            font-weight: bold;
                        }
                        .btn-5 {
                            text-decoration: none;
                            transition: all 0.3s ease-in-out;
                            color: $pink;
                            padding: 10px 40px;
                            background-color: #00000087;
                            border-radius: 5px;
                            &:hover {
                                background-color: $pink;
                                color: $purple;
                            }
                        }
                    }
                }
                .mix {
                    height: 560px;
                    background-color: $bg;
                    img {
                        margin-bottom: 60px;
                        padding-top: 20px;
                        width: 150px;
                        height: 150px;
                    }
                    .container-xl {
                        padding-right: 50px;
                        padding-left: 50px;
                        .service-title {
                            color: $purple;
                            margin-top: -35px;
                            font-weight: bold;
                            border-bottom: 1px solid $pink;
                        }
                        .text-justify {
                            line-height: 1.9;
                            color: $sec-text;
                        }
                        .btn-service {
                            background-color: transparent;
                            border: 1px solid $purple;
                            color: $purple;
                            border-radius: 5px;
                            transition: all 0.5s ease-in-out;
                            padding: 10px 30px;
                            &:hover {
                                background-color: $purple;
                                border: $pink;
                                color: $pink;
                                border: 1px solid $pink;
                            }
                        }
                    }
                }
            }
        }
    }
}
.icons,
.gallery {
    border-top: 1px solid rgba(31, 31, 31, 0.308);
    padding-top: 50px;
    padding-bottom: 30px;
    .col-lg-3, .col-md-3 {
        padding-right: 25px;
        padding-left: 25px;
    }
    h5 {
        color: $purple;
        font-weight: bold;
    }
    h1 {
        margin-top: 0;
        font-weight: bolder;
        color: $black;
    }
    small {
        color: $sec-text;
    }
    .icon-ser {
        padding-top: 30px;
        img {
            padding: 10px 10px;
            height: 85px;
        }
        strong {
            color: $purple;
        }
        p {
            color: $sec-text;
            font-size: 16px;
        }
    }
}
.gallery {
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        .row {
            margin-right: 0;
            margin-left: 0;
            .col-lg-12 {
                padding-bottom: 20px;
            }
            ul {
                .uk-active {
                    a {
                        background-color: $purple !important;
                    }
                }
            }
        }
    }
}
.contact {
    padding: 50px 0;
    h1 {
        text-align: center;
        color: $purple;
        text-shadow: 1px 1px 0 $pink;
    }
    form {
        max-width: 600px;
        text-align: center;
        margin: 20px auto;
    }
    form input,
    form textarea {
        background-color: transparent;
        border: 0;
        outline: 0;
        padding: 1em;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        border: 1px solid $purple;
        display: block;
        width: 100%;
        margin-top: 1em;
        font-family: "Merriweather", sans-serif;
        -moz-box-shadow: 0 1px 1px $pink;
        -webkit-box-shadow: 0 1px 1px $pink;
        box-shadow: 0 1px 1px $pink;
        resize: none;
    }
    form input:focus,
    form textarea:focus {
        -moz-box-shadow: 0 0px 2px $purple !important;
        -webkit-box-shadow: 0 0px 2px $purple !important;
        box-shadow: 0 0px 2px $purple !important;
    }
    form #input-submit {
        color: $pink;
        background: transparent;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &:hover {
            background: $purple;
        }
    }
    form textarea {
        height: 126px;
    }

    .half {
        float: left;
        width: 48%;
        margin-bottom: 1em;
        p {
            transform: rotate(270deg);
            margin-left: -166px;
            position: absolute;
            margin-top: 140px;
            font-size: 19px;
            font-weight: bold;
            font-family: sans-serif;
            border-bottom: 1px solid black;
        }
    }

    .right {
        width: 50%;
    }

    .left {
        margin-right: 2%;
    }

    @media (max-width: 480px) {
        .half {
            width: 100%;
            float: none;
            margin-bottom: 0;
        }
    }
    /* Clearfix */
    .cf:before,
    .cf:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
    }

    .cf:after {
        clear: both;
    }
}
footer {
    padding: 60px 40px;;
    #middle {
        margin-left: -31px;
    }
    #last {
        border-right: 0 !important;
        .facebook,
        .twitter,
        .instagram {
            color: $white;
            transition: all 0.3s ease-in-out;
            &:hover {
                background: $purple;
                color: $pink;
            }
        }
        .facebook {
            background: rgb(64, 64, 185);
        }
        .twitter {
            background: rgb(35, 174, 255);
        }
        .instagram {
            background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        }
    }
    ul {
        border-right: 1px solid $sec-text;
        list-style: none;
        span {
            font-weight: bold;
            font-size: 20px;
            color: $purple;
            border-bottom: 0.5px solid $pink;
        }
        li {
            padding: 10px 20px;
            color: $sec-text;
            a {
                text-decoration: none;
                color: $sec-text;
                font-size: 15px;
                &:hover {
                    color: $pink;
                    text-decoration: none;
                }
            }
        }
    }
    .text-center {
        border-top: 1px solid rgb(31, 31, 31);
        width: 100%;
        padding-bottom: 0;
        padding-top: 20px;
        span {
            color: $sec-text;
        }
        a {
            text-decoration: none;
            color: $pink;
            &:hover {
                color: $purple;
                text-decoration: none;
            }
        }
    }
}
.mob-br {
    display: none;
}
@media only screen and (max-width: 750px) {
    .men-desc {
        margin-left: 23px !important;
    }
    .half {
        p {
            display: none !important;
        }
    }
    footer {
        .text-left {
            text-align: center !important;
        }
        #middle {
            margin-left: 0 !important;
        }
        ul {
            border-right: 0 !important;
            li {
                font-size: 15px !important;
            }
        }
        .text-center {
            .mob-br {
                display: block !important;
            }
        }
    }
}
.uk-card-primary.uk-card-body .uk-dotnav > * > *,
.uk-card-primary > :not([class*="uk-card-media"]) .uk-dotnav > * > *,
.uk-card-secondary.uk-card-body .uk-dotnav > * > *,
.uk-card-secondary > :not([class*="uk-card-media"]) .uk-dotnav > * > *,
.uk-light .uk-dotnav > * > *,
.uk-offcanvas-bar .uk-dotnav > * > *,
.uk-overlay-primary .uk-dotnav > * > *,
.uk-section-primary:not(.uk-preserve-color) .uk-dotnav > * > *,
.uk-section-secondary:not(.uk-preserve-color) .uk-dotnav > * > *,
.uk-tile-primary:not(.uk-preserve-color) .uk-dotnav > * > *,
.uk-tile-secondary:not(.uk-preserve-color) .uk-dotnav > * > * {
    background-color: transparent;
    border-color: $pink !important;

}
