body {
  font-family: "Source Sans Pro", sans-serif !important;
}

header nav .center {
  margin: 0 auto;
}

header nav .center ul .active a {
  color: #ed5887 !important;
}

header nav .center ul .active a:hover {
  color: #373173 !important;
}

header nav .center ul li a:hover {
  color: #ed5887 !important;
}

header nav .btn-1,
header nav .btn-2 {
  margin-left: 10px;
}

header nav .btn-1 a,
header nav .btn-2 a {
  color: white;
  text-decoration: none;
}

header nav .btn-1 {
  background-color: #373173;
  border-color: #373173;
}

header nav .btn-1:hover {
  background-color: #ed5887;
  border-color: #ed5887;
}

header nav .btn-2 {
  background-color: #ed5887;
  border-color: #ed5887;
}

header nav .btn-2:hover {
  background-color: #373173;
  border-color: #373173;
}

header nav img {
  width: 150px;
}

.slider ul li h2 {
  text-shadow: 2px 2px #373173;
  color: #ed5887;
}

.slider ul li p {
  text-shadow: 2px 2px #373173;
  color: white;
}

.services .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.services .container-fluid .row {
  margin-right: 0;
  margin-left: 0;
}

.services .container-fluid .row .col-lg-3,
.services .container-fluid .row .col-md-3,
.services .container-fluid .row .col-sm-1 {
  padding-right: 0;
  padding-left: 0;
}

.services .container-fluid .row .col-lg-3 .men,
.services .container-fluid .row .col-md-3 .men,
.services .container-fluid .row .col-sm-1 .men {
  background: url(../imagesh/men.jpg);
}

.services .container-fluid .row .col-lg-3 .women,
.services .container-fluid .row .col-md-3 .women,
.services .container-fluid .row .col-sm-1 .women {
  background: url(../imagesh/women.jpg);
}

.services .container-fluid .row .col-lg-3 .men,
.services .container-fluid .row .col-lg-3 .women,
.services .container-fluid .row .col-md-3 .men,
.services .container-fluid .row .col-md-3 .women,
.services .container-fluid .row .col-sm-1 .men,
.services .container-fluid .row .col-sm-1 .women {
  padding: 20px 20px;
  height: 560px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services .container-fluid .row .col-lg-3 .men .men-desc,
.services .container-fluid .row .col-lg-3 .women .men-desc,
.services .container-fluid .row .col-md-3 .men .men-desc,
.services .container-fluid .row .col-md-3 .women .men-desc,
.services .container-fluid .row .col-sm-1 .men .men-desc,
.services .container-fluid .row .col-sm-1 .women .men-desc {
  position: absolute;
  margin: 35px;
  width: 80%;
  text-align: center;
  border: 1px solid #373173;
  padding-top: 200px;
  padding-bottom: 200px;
}

.services .container-fluid .row .col-lg-3 .men .men-desc .men-title,
.services .container-fluid .row .col-lg-3 .women .men-desc .men-title,
.services .container-fluid .row .col-md-3 .men .men-desc .men-title,
.services .container-fluid .row .col-md-3 .women .men-desc .men-title,
.services .container-fluid .row .col-sm-1 .men .men-desc .men-title,
.services .container-fluid .row .col-sm-1 .women .men-desc .men-title {
  color: white !important;
  font-weight: bold;
}

.services .container-fluid .row .col-lg-3 .men .men-desc .btn-5,
.services .container-fluid .row .col-lg-3 .women .men-desc .btn-5,
.services .container-fluid .row .col-md-3 .men .men-desc .btn-5,
.services .container-fluid .row .col-md-3 .women .men-desc .btn-5,
.services .container-fluid .row .col-sm-1 .men .men-desc .btn-5,
.services .container-fluid .row .col-sm-1 .women .men-desc .btn-5 {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #ed5887;
  padding: 10px 40px;
  background-color: #00000087;
  border-radius: 5px;
}

.services .container-fluid .row .col-lg-3 .men .men-desc .btn-5:hover,
.services .container-fluid .row .col-lg-3 .women .men-desc .btn-5:hover,
.services .container-fluid .row .col-md-3 .men .men-desc .btn-5:hover,
.services .container-fluid .row .col-md-3 .women .men-desc .btn-5:hover,
.services .container-fluid .row .col-sm-1 .men .men-desc .btn-5:hover,
.services .container-fluid .row .col-sm-1 .women .men-desc .btn-5:hover {
  background-color: #ed5887;
  color: #373173;
}

.services .container-fluid .row .col-lg-3 .mix,
.services .container-fluid .row .col-md-3 .mix,
.services .container-fluid .row .col-sm-1 .mix {
  height: 560px;
  background-color: #a3a3a378;
}

.services .container-fluid .row .col-lg-3 .mix img,
.services .container-fluid .row .col-md-3 .mix img,
.services .container-fluid .row .col-sm-1 .mix img {
  margin-bottom: 60px;
  padding-top: 20px;
  width: 150px;
  height: 150px;
}

.services .container-fluid .row .col-lg-3 .mix .container-xl,
.services .container-fluid .row .col-md-3 .mix .container-xl,
.services .container-fluid .row .col-sm-1 .mix .container-xl {
  padding-right: 50px;
  padding-left: 50px;
}

.services .container-fluid .row .col-lg-3 .mix .container-xl .service-title,
.services .container-fluid .row .col-md-3 .mix .container-xl .service-title,
.services .container-fluid .row .col-sm-1 .mix .container-xl .service-title {
  color: #373173;
  margin-top: -35px;
  font-weight: bold;
  border-bottom: 1px solid #ed5887;
}

.services .container-fluid .row .col-lg-3 .mix .container-xl .text-justify,
.services .container-fluid .row .col-md-3 .mix .container-xl .text-justify,
.services .container-fluid .row .col-sm-1 .mix .container-xl .text-justify {
  line-height: 1.9;
  color: #424242;
}

.services .container-fluid .row .col-lg-3 .mix .container-xl .btn-service,
.services .container-fluid .row .col-md-3 .mix .container-xl .btn-service,
.services .container-fluid .row .col-sm-1 .mix .container-xl .btn-service {
  background-color: transparent;
  border: 1px solid #373173;
  color: #373173;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 10px 30px;
}

.services .container-fluid .row .col-lg-3 .mix .container-xl .btn-service:hover,
.services .container-fluid .row .col-md-3 .mix .container-xl .btn-service:hover,
.services .container-fluid .row .col-sm-1 .mix .container-xl .btn-service:hover {
  background-color: #373173;
  border: #ed5887;
  color: #ed5887;
  border: 1px solid #ed5887;
}

.icons,
.gallery {
  border-top: 1px solid rgba(31, 31, 31, 0.308);
  padding-top: 50px;
  padding-bottom: 30px;
}

.icons .col-lg-3, .icons .col-md-3,
.gallery .col-lg-3,
.gallery .col-md-3 {
  padding-right: 25px;
  padding-left: 25px;
}

.icons h5,
.gallery h5 {
  color: #373173;
  font-weight: bold;
}

.icons h1,
.gallery h1 {
  margin-top: 0;
  font-weight: bolder;
  color: black;
}

.icons small,
.gallery small {
  color: #424242;
}

.icons .icon-ser,
.gallery .icon-ser {
  padding-top: 30px;
}

.icons .icon-ser img,
.gallery .icon-ser img {
  padding: 10px 10px;
  height: 85px;
}

.icons .icon-ser strong,
.gallery .icon-ser strong {
  color: #373173;
}

.icons .icon-ser p,
.gallery .icon-ser p {
  color: #424242;
  font-size: 16px;
}

.gallery .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.gallery .container-fluid .row {
  margin-right: 0;
  margin-left: 0;
}

.gallery .container-fluid .row .col-lg-12 {
  padding-bottom: 20px;
}

.gallery .container-fluid .row ul .uk-active a {
  background-color: #373173 !important;
}

.contact {
  padding: 50px 0;
  /* Clearfix */
}

.contact h1 {
  text-align: center;
  color: #373173;
  text-shadow: 1px 1px 0 #ed5887;
}

.contact form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;
}

.contact form input,
.contact form textarea {
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  border: 1px solid #373173;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: "Merriweather", sans-serif;
  -webkit-box-shadow: 0 1px 1px #ed5887;
  box-shadow: 0 1px 1px #ed5887;
  resize: none;
}

.contact form input:focus,
.contact form textarea:focus {
  -webkit-box-shadow: 0 0px 2px #373173 !important;
  box-shadow: 0 0px 2px #373173 !important;
}

.contact form #input-submit {
  color: #ed5887;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.contact form #input-submit:hover {
  background: #373173;
}

.contact form textarea {
  height: 126px;
}

.contact .half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.contact .half p {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  margin-left: -166px;
  position: absolute;
  margin-top: 140px;
  font-size: 19px;
  font-weight: bold;
  font-family: sans-serif;
  border-bottom: 1px solid black;
}

.contact .right {
  width: 50%;
}

.contact .left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .contact .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

.contact .cf:before,
.contact .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.contact .cf:after {
  clear: both;
}

footer {
  padding: 60px 40px;
}

footer #middle {
  margin-left: -31px;
}

footer #last {
  border-right: 0 !important;
}

footer #last .facebook,
footer #last .twitter,
footer #last .instagram {
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer #last .facebook:hover,
footer #last .twitter:hover,
footer #last .instagram:hover {
  background: #373173;
  color: #ed5887;
}

footer #last .facebook {
  background: #4040b9;
}

footer #last .twitter {
  background: #23aeff;
}

footer #last .instagram {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

footer ul {
  border-right: 1px solid #424242;
  list-style: none;
}

footer ul span {
  font-weight: bold;
  font-size: 20px;
  color: #373173;
  border-bottom: 0.5px solid #ed5887;
}

footer ul li {
  padding: 10px 20px;
  color: #424242;
}

footer ul li a {
  text-decoration: none;
  color: #424242;
  font-size: 15px;
}

footer ul li a:hover {
  color: #ed5887;
  text-decoration: none;
}

footer .text-center {
  border-top: 1px solid #1f1f1f;
  width: 100%;
  padding-bottom: 0;
  padding-top: 20px;
}

footer .text-center span {
  color: #424242;
}

footer .text-center a {
  text-decoration: none;
  color: #ed5887;
}

footer .text-center a:hover {
  color: #373173;
  text-decoration: none;
}

.mob-br {
  display: none;
}

@media only screen and (max-width: 750px) {
  .men-desc {
    margin-left: 23px !important;
  }
  .half p {
    display: none !important;
  }
  footer .text-left {
    text-align: center !important;
  }
  footer #middle {
    margin-left: 0 !important;
  }
  footer ul {
    border-right: 0 !important;
  }
  footer ul li {
    font-size: 15px !important;
  }
  footer .text-center .mob-br {
    display: block !important;
  }
}

.uk-card-primary.uk-card-body .uk-dotnav > * > *,
.uk-card-primary > :not([class*="uk-card-media"]) .uk-dotnav > * > *,
.uk-card-secondary.uk-card-body .uk-dotnav > * > *,
.uk-card-secondary > :not([class*="uk-card-media"]) .uk-dotnav > * > *,
.uk-light .uk-dotnav > * > *,
.uk-offcanvas-bar .uk-dotnav > * > *,
.uk-overlay-primary .uk-dotnav > * > *,
.uk-section-primary:not(.uk-preserve-color) .uk-dotnav > * > *,
.uk-section-secondary:not(.uk-preserve-color) .uk-dotnav > * > *,
.uk-tile-primary:not(.uk-preserve-color) .uk-dotnav > * > *,
.uk-tile-secondary:not(.uk-preserve-color) .uk-dotnav > * > * {
  background-color: transparent;
  border-color: #ed5887 !important;
}
/*# sourceMappingURL=style.css.map */