$black: black;
$white: white;
$pink: #f10691;
$purple: #310276;
$overlay: #00000087;
$bg: #a3a3a378;
$sec-text: #424242;

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background-color: $black;
    z-index: 99;
    text-align: center;
    #loading-image {
        position: absolute;
        top: 50px;
        left: 450px;
        height: 70%;
        z-index: 100;
    }
    @keyframes ani_1 {
        0% {
            height: 20px;
            width: 20px;
            background-color: $purple;
            margin-top: 10px;
        }

        50% {
            height: 10px;
            width: 10px;
            background-color: $pink;
            margin-top: 20px;
        }

        100% {
            height: 20px;
            width: 20px;
            background-color: $purple;
            margin-top: 10px;
        }
    }

    @keyframes ani_2 {
        0% {
            border-bottom: solid 2px $purple;
        }

        50% {
            border-bottom: solid 2px $pink;
        }

        100% {
            border-bottom: solid 2px $purple;
        }
    }

    .cycles {
        display: inline-block;
        width: 220px;
        position: absolute;
        top: calc(82% - 20px);
        left: calc(50% - 110px);
        .cycle {
            height: 20px;
            width: 20px;
            background-color: $pink;
            display: inline-block;
            margin: 10px;
            border-radius: 50%;
        }

        #cycle1 {
            animation: ani_1 2s 0s linear infinite;
        }

        #cycle2 {
            animation: ani_1 2s 0.3s linear infinite;
        }

        #cycle3 {
            animation: ani_1 2s 0.6s linear infinite;
        }

        #cycle4 {
            animation: ani_1 2s 0.9s linear infinite;
        }

        #cycle5 {
            animation: ani_1 2s 1.2s linear infinite;
        }
    }
}
header {
    .uk-navbar-container:not(.uk-navbar-transparent) {
        background: $black;
    }
    .uk-navbar-left {
        z-index: 1;
        margin-left: 110px;
    }
    .uk-navbar-right {
        z-index: 1;
        margin-right: 50px;
        font-weight: bold;
        .uk-active {
            a {
                color: $pink;
                border-bottom: 3px solid $purple;
            }
        }
        .uk-navbar-dropdown {
            background: $black;
        }
        a {
            color: $pink;
            &:hover {
                color: $purple;
            }
        }
        &:hover {
            cursor: pointer;
        }
    }
    .mob-nav {
        display: none;
    }
}
.uk-overlay-primary {
    background: $overlay;
    z-index: 0;
}
@media only screen and (max-width: 750px) {
    #loading {
        .cycles {
            top: calc(60% - 20px) !important;
        }
        #loading-image {
            top: 10 !important;
            left: 10 !important;
            height: 35% !important;
        }
    }
    .mob-nav {
        z-index: 5555 !important;
        display: block !important;
        margin-top: -20px !important;
        .uk-navbar-sticky {
            .uk-navbar-left {
                margin-left: 0 !important;
                img {
                    margin-top: 0 !important;
                }
            }
        }
        .uk-navbar-left {
            margin-left: 0 !important;
            img {
                margin-top: 20px !important;
            }
        }
        .uk-navbar-right {
            margin-right: 20px !important;
            svg {
                transition: all 0.3s ease-in-out !important;
                margin-top: 10px !important;
            }
        }
        #offcanvas-usage {
            transition: all 0.3s ease-in-out !important;
            .uk-offcanvas-bar {
                background: $black !important;
                ul {
                    padding-top: 50px !important;
                    list-style: none !important;
                    li {
                        padding-top: 10px !important;
                        a {
                            color: $pink !important;
                            &:hover {
                                color: $purple !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .lap-nav {
        display: none !important;
    }
    .header-section {
        width: 100% !important;
        height: 80vh !important;
        .header-text {
            h1 {
                font-size: 35px !important;
            }
            h5 {
                font-size: 18px !important;
            }
        }
    }
    .men-desc {
        margin-left: 23px !important;
    }
    .p1,
    .p2,
    .p3,
    .p4,
    .p5,
    .p6,
    .p7,
    .p8 {
        margin-top: 5px !important;
    }
    .half {
        p {
            display: none !important;
        }
    }
    footer {
        .text-left {
            text-align: center !important;
        }
        #middle {
            margin-left: 0 !important;
        }
        ul {
            border-right: 0 !important;
            li {
                font-size: 15px !important;
            }
        }
        .text-center {
            .mob-br {
                display: block !important;
            }
        }
    }
}
.mob-br {
    display: none;
}
.header-section {
    margin-top: -80px;
    background: url(../imagesh/main-bg.jpg);
    width: 100%;
    height: 119.5vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .uk-overlay-primary {
        height: inherit;
    }
    .header-text {
        padding-top: 25vh;
        position: absolute;
        h1 {
            color: $white;
            font-weight: bolder;
            font-size: 60px;
            line-height: 1.1;
        }
        h5 {
            color: $pink;
            font-weight: bold;
            text-shadow: 1px 2px $purple;
        }
        .loop-alternate-infinity {
            z-index: 2;
            color: $purple;
            margin-top: 100px;
        }
        span {
            margin-top: 150px;
        }
    }
}
.services {
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        .row {
            margin-right: 0;
            margin-left: 0;
            .col-lg-3,
            .col-md-3,
            .col-sm-1 {
                padding-right: 0;
                padding-left: 0;
                .men {
                    background: url(../imagesh/men.jpg);
                }
                .women {
                    background: url(../imagesh/women.jpg);
                }
                .men,
                .women {
                    padding: 20px 20px;
                    height: 560px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    .men-desc {
                        position: absolute;
                        margin: 35px;
                        width: 80%;
                        text-align: center;
                        border: 1px solid $purple;
                        padding-top: 200px;
                        padding-bottom: 200px;
                        .men-title {
                            color: $white !important;
                            font-weight: bold;
                        }
                        .btn-5 {
                            text-decoration: none;
                            transition: all 0.3s ease-in-out;
                            color: $pink;
                            padding: 10px 40px;
                            background-color: #00000087;
                            border-radius: 5px;
                            &:hover {
                                background-color: $pink;
                                color: $purple;
                            }
                        }
                    }
                }
                .mix {
                    height: 560px;
                    background-color: $bg;
                    img {
                        margin-bottom: 60px;
                        padding-top: 20px;
                        width: 150px;
                        height: 150px;
                    }
                    .container-xl {
                        padding-right: 50px;
                        padding-left: 50px;
                        .service-title {
                            color: $purple;
                            margin-top: -35px;
                            font-weight: bold;
                            border-bottom: 1px solid $pink;
                        }
                        .text-justify {
                            line-height: 1.9;
                            color: $sec-text;
                        }
                        .btn-service {
                            background-color: transparent;
                            border: 1px solid $purple;
                            color: $purple;
                            border-radius: 5px;
                            transition: all 0.5s ease-in-out;
                            padding: 10px 30px;
                            &:hover {
                                background-color: $purple;
                                border: $pink;
                                color: $pink;
                                border: 1px solid $pink;
                            }
                        }
                    }
                }
            }
        }
    }
}
.icons,
.gallery {
    border-top: 1px solid rgba(31, 31, 31, 0.308);
    background-color: $bg;
    padding-top: 50px;
    h5 {
        color: $purple;
        font-weight: bold;
    }
    h1 {
        margin-top: 0;
        font-weight: bolder;
        color: $black;
    }
    small {
        color: $sec-text;
    }
    .icon-ser {
        padding-top: 30px;
        img {
            padding: 10px 10px;
            height: 85px;
        }
        strong {
            color: $purple;
        }
        p {
            color: $sec-text;
            font-size: 16px;
        }
    }
}
.gallery {
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        .row {
            margin-right: 0;
            margin-left: 0;
            .col-lg-3,
            .col-md-3,
            .col-sm-1 {
                padding-right: 0;
                padding-left: 0;
                .p1 {
                    background: url(../imagesh/p1.jpg);
                }
                .p2 {
                    background: url(../imagesh/p2.jpg);
                }
                .p3 {
                    background: url(../imagesh/p3.jpg);
                }
                .p4 {
                    background: url(../imagesh/p4.jpg);
                }
                .p5 {
                    background: url(../imagesh/p5.jpg);
                }
                .p6 {
                    background: url(../imagesh/p6.jpg);
                }
                .p7 {
                    background: url(../imagesh/p7.jpg);
                }
                .p8 {
                    background: url(../imagesh/p1.jpg);
                }
                .p1,
                .p2,
                .p3,
                .p4,
                .p5,
                .p6,
                .p7,
                .p8 {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 100%;
                    height: 400px;
                    #overlay {
                        width: inherit;
                        height: inherit;
                        background: #30027662;
                        text-align: center;
                        padding: 45px 0 66px 0;
                        opacity: 0;
                        transition: opacity 0.25s ease;
                        &:hover {
                            opacity: 1;
                        }
                        p {
                            color: $pink;
                            transform: rotate(270deg);
                            margin-left: -280px;
                            margin-top: 55px;
                        }
                        h4 {
                            color: $pink;
                            margin-left: -155px;
                            margin-top: -30px;
                        }
                    }
                }
            }
        }
    }
}
.contact {
    padding: 50px 0;
    background-color: $bg;
    h1 {
        text-align: center;
        color: $purple;
        text-shadow: 1px 1px 0 $pink;
    }
    form {
        max-width: 600px;
        text-align: center;
        margin: 20px auto;
    }
    form input,
    form textarea {
        background-color: transparent;
        border: 0;
        outline: 0;
        padding: 1em;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        border: 1px solid $purple;
        display: block;
        width: 100%;
        margin-top: 1em;
        font-family: "Merriweather", sans-serif;
        -moz-box-shadow: 0 1px 1px $pink;
        -webkit-box-shadow: 0 1px 1px $pink;
        box-shadow: 0 1px 1px $pink;
        resize: none;
    }
    form input:focus,
    form textarea:focus {
        -moz-box-shadow: 0 0px 2px $purple !important;
        -webkit-box-shadow: 0 0px 2px $purple !important;
        box-shadow: 0 0px 2px $purple !important;
    }
    form #input-submit {
        color: $pink;
        background: transparent;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &:hover {
            background: $purple;
        }
    }
    form textarea {
        height: 126px;
    }

    .half {
        float: left;
        width: 48%;
        margin-bottom: 1em;
        p {
            transform: rotate(270deg);
            margin-left: -166px;
            position: absolute;
            margin-top: 140px;
            font-size: 19px;
            font-weight: bold;
            font-family: sans-serif;
            border-bottom: 1px solid black;
        }
    }

    .right {
        width: 50%;
    }

    .left {
        margin-right: 2%;
    }

    @media (max-width: 480px) {
        .half {
            width: 100%;
            float: none;
            margin-bottom: 0;
        }
    }
    /* Clearfix */
    .cf:before,
    .cf:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
    }

    .cf:after {
        clear: both;
    }
}
footer {
    background-color: $black;
    padding: 60px 40px;
    #middle {
        margin-left: -31px;
    }
    #last {
        border-right: 0 !important;
        .facebook,
        .twitter,
        .instagram {
            color: $white;
            transition: all 0.3s ease-in-out;
            &:hover {
                background: $purple;
                color: $pink;
            }
        }
        .facebook {
            background: rgb(64, 64, 185);
        }
        .twitter {
            background: rgb(35, 174, 255);
        }
        .instagram {
            background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        }
    }
    ul {
        border-right: 1px solid $bg;
        list-style: none;
        span {
            font-weight: bold;
            font-size: 20px;
            color: $purple;
            border-bottom: 0.5px solid $pink;
        }
        li {
            padding: 10px 20px;
            color: $white;
            a {
                text-decoration: none;
                color: $white;
                font-size: 15px;
                &:hover {
                    color: $pink;
                    text-decoration: none;
                }
            }
        }
    }
    .text-center {
        border-top: 1px solid rgb(31, 31, 31);
        width: 100%;
        padding: 10px 10px;
        span {
            color: $bg;
        }
        a {
            text-decoration: none;
            color: $pink;
            &:hover {
                color: $purple;
                text-decoration: none;
            }
        }
    }
}
