@font-face {
  font-family: playfair;
  src: url(../fonts/PlayfairDisplay-Black.ttf);
}

@font-face {
  font-family: playItalic;
  src: url(../fonts/PlayfairDisplay-Italic.ttf);
}

@font-face {
  font-family: opensans;
  src: url(../fonts/OpenSans-Regular.ttf);
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

body {
  line-height: 26px;
  font-size: 16px;
  font-family: opensans, sans-serif;
  color: #797979;
  margin: 0px;
  padding: 0px;
}

body .pest_btn {
  margin-top: 65px;
  line-height: 45px;
  padding: 0px 26px;
  background: #94c9d9;
  color: #ffffff;
  display: inline-block;
  font-family: opensans, sans-serif;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
  text-decoration: none;
}

body .pest_btn:before {
  left: -75px;
  width: 50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  opacity: 0.2;
  position: absolute;
  top: -50px;
  background: #ffffff;
  content: "";
  height: 155px;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

body .pest_btn:hover {
  color: #ffffff;
}

body .pest_btn:hover:before {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

body .element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

body main header {
  position: absolute;
  left: 0px;
  width: 100%;
  top: 0px;
  z-index: 30;
}

body main header .blueHeader {
  background: #94c9d9;
  position: relative;
  z-index: 3;
  height: 7.611vh;
  width: 99.5vw;
  display: none;
}

body main header .blueHeader .socialMedia {
  float: right;
}

body main header .blueHeader .socialMedia img {
  margin-top: 5%;
  height: 5vh;
}

body main header .blueHeader:before {
  content: "";
  width: 100%;
  border-bottom: 1px dashed #f5b5c9;
  position: absolute;
  left: 0px;
  bottom: 4px;
}

body main header .laptopNavbar {
  position: relative;
  background: #fff;
}

body main header .laptopNavbar .dropdown-toggle:after {
  display: none;
}

body main header .laptopNavbar .navbar.navbar-expand-lg {
  padding: 0px;
  background-color: transparent !important;
}

body main header .laptopNavbar .navbar.navbar-expand-lg .navbar-nav {
  width: 100%;
}

body main header .laptopNavbar .navbar.navbar-expand-lg .navbar-nav li {
  margin-right: 40px;
}

body main header .laptopNavbar .navbar.navbar-expand-lg .navbar-nav li a {
  text-decoration: none;
  vertical-align: middle;
  font-size: 17px;
  color: #454545;
  font-family: opensans, sans-serif;
  font-weight: 600;
  line-height: 85px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

body main header .laptopNavbar .navbar.navbar-expand-lg .navbar-nav li:hover a {
  color: #94c9d9;
}

body main header .laptopNavbar .navbar.navbar-expand-lg .navbar-nav li.submenu .dropdown-menu li {
  margin-right: 0px;
  display: block;
}

body main header .laptopNavbar .navbar.navbar-expand-lg .navbar-nav li.submenu .dropdown-menu li a {
  display: block;
  line-height: 42px;
  color: #454545;
  font-family: opensans, sans-serif;
  font-size: 16px;
  padding: 0px 30px;
  text-transform: inherit;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-weight: 600;
  text-shadow: none;
  border-bottom: 1px solid #dcdcdc;
}

body main header .laptopNavbar .navbar.navbar-expand-lg .navbar-nav li.submenu .dropdown-menu li:hover a {
  color: #fff;
  background: #94c9d9;
}

body main header .laptopNavbar:before {
  content: "";
  background: url(../images/img/menu-draw.png) no-repeat scroll center center;
  height: 19px;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: -13px;
  z-index: 30;
}

body main .navbar_fixed .laptopNavbar {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: #94c9d9;
  -webkit-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  -webkit-box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2);
}

body main .navbar_fixed .laptopNavbar .navbar.navbar-expand-lg .navbar-nav li:hover a {
  color: #ffffff;
}

body main .navbar_fixed .laptopNavbar:before {
  display: none;
}

body main .slider {
  margin-top: 5%;
}

body main .slider .uk-cover {
  width: 142vw !important;
}

body main .slider .uk-slideshow-items {
  min-height: 100vh !important;
}

body main .slider .uk-icon {
  background: #80808070;
  padding: 2% 2%;
  border-radius: 35px;
}

body main .slider .uk-icon svg {
  height: 15px;
  width: 15px;
}

body main .slider .uk-position-small[class*="uk-position-center-left"],
body main .slider .uk-position-small[class*="uk-position-center-right"] {
  -webkit-transform: translateY(-50%) translateY(-15px);
          transform: translateY(-50%) translateY(-15px);
}

body main .slider .uk-overlay-default {
  background: transparent;
}

body main .slider .uk-overlay-default h3,
body main .slider .uk-overlay-default p {
  color: #fff;
  font-family: playfair, serif;
}

body main .slider .uk-overlay-default h3 {
  font-size: 4rem;
  margin-bottom: 5%;
  font-weight: bold !important;
}

body main .slider .uk-overlay-default p {
  font-size: 1.3rem;
  font-family: playItalic;
}

body main .slider .uk-overlay-default .btn-light {
  margin-top: 5%;
  border-radius: 50px;
  padding: 3% 6%;
  font-family: opensans;
  color: #3e606b;
  border: 1px solid #ffffff;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body main .slider .uk-overlay-default .btn-light:hover {
  background: #94c9d9;
  color: #ffffff;
  border: 1px solid #94c9d9;
}

body main .slider .uk-position-small {
  max-width: calc(50% - (15px * 2));
}

body .about {
  position: relative;
}

body .about .aboutDetails {
  background: #ffffff;
  padding-top: 100px;
  padding-bottom: 115px;
}

body .about .aboutDetails .single_pest_title {
  text-align: center;
  margin-bottom: 60px;
}

body .about .aboutDetails .single_pest_title h2 {
  font-size: 36px;
  color: #3e606b;
  font-family: playfair, serif;
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

body .about .aboutDetails .single_pest_title h2:before {
  content: "";
  width: 40px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #acb2b4;
  height: 1px;
}

body .about .aboutDetails .discover_item_inner p {
  text-align: justify;
  text-align-last: center;
}

body .about:before {
  content: "";
  background: url(../images/img/menu-left.png) no-repeat scroll center center;
  width: 260px;
  height: 480px;
  position: absolute;
  left: 0px;
  top: 55%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

body .about:after {
  content: "";
  background: url(../images/img/menu-right.png) no-repeat scroll center center;
  width: 260px;
  height: 640px;
  position: absolute;
  right: 0px;
  top: 10%;
}

body .cake_img {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

body .cake_img img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .cake_img:before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 1;
  opacity: 0;
}

body .cake_img:hover:before {
  opacity: 1;
}

body .cake_img:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

body .product {
  padding: 100px 0px;
  background: #f6f6f6;
}

body .product .single_pest_title {
  margin-bottom: 50px;
}

body .product .single_pest_title h2 {
  font-size: 36px;
  color: #3e606b;
  font-family: playfair, serif;
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

body .product .single_pest_title h2:before {
  content: "";
  width: 40px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #acb2b4;
  height: 1px;
}

body .product .arivals_slider .item {
  padding-bottom: 20px;
}

body .product .cake_feature_item {
  background: #ffffff;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(40, 40, 40, 0.08);
  box-shadow: 0px 0px 15px 0px rgba(40, 40, 40, 0.08);
  text-align: center;
  padding-bottom: 30px;
}

body .product .owl-prev, body .product .owl-next {
  position: absolute;
  top: 45%;
}

body .product .owl-prev span, body .product .owl-next span {
  font-size: 7em;
}

body .product .owl-prev:focus, body .product .owl-next:focus {
  outline: none;
}

body .product .owl-prev {
  left: -5%;
}

body .product .owl-next {
  right: -5%;
}

body footer {
  background: #303339;
  overflow: hidden;
}

body footer .uk-icon-button {
  background: transparent;
}

body footer .uk-icon > * {
  -webkit-transform: translate(-1px, -2px);
          transform: translate(-1px, -2px);
}

body footer .uk-icon-button:focus,
body footer .uk-icon-button:hover {
  -webkit-transform: translate(-1px, -2px);
          transform: translate(-1px, -2px);
}

body footer .uk-icon-button:focus .uk-icon > *,
body footer .uk-icon-button:hover .uk-icon > * {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

body footer .footer_widgets {
  padding: 80px 0px 50px 0px;
}

body footer .footer_widgets .f_about_widget p {
  font-size: 14px;
  line-height: 23px;
  font-family: opensans, sans-serif;
  color: #a8a8a8;
  letter-spacing: 0.28px;
  margin-top: 20px;
  margin-bottom: 0px;
}

body footer .footer_widgets .f_about_widget .nav {
  margin-top: 35px;
}

body footer .footer_widgets .f_about_widget .nav li {
  display: inline-block;
  margin-right: 10px;
}

body footer .footer_widgets .f_about_widget .nav li a {
  display: inline-block;
  text-align: center;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #7b7b7c;
  font-size: 16.92px;
  line-height: 35px;
  -webkit-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

body footer .footer_widgets .f_about_widget .nav li a .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body footer .footer_widgets .f_about_widget .nav li:last-child {
  margin-right: 0px;
}

body footer .footer_widgets .footer_widgets .footer_wd_inner .col-lg-3:nth-child(2) .f_link_widget {
  padding-left: 35px;
}

body footer .footer_widgets .f_title {
  margin-bottom: 20px;
}

body footer .footer_widgets .f_title h3 {
  color: #fff;
  font-family: playfair, serif;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

body footer .footer_widgets .f_title h3:before {
  content: "";
  width: 30px;
  height: 1px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #94c9d9;
}

body footer .footer_widgets .list_style {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

body footer .footer_widgets .list_style li {
  margin-bottom: 10px;
}

body footer .footer_widgets .list_style li a {
  font-size: 14px;
  color: #a8a8a8;
  letter-spacing: 0.28px;
  font-family: opensans, sans-serif;
  -webkit-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

body footer .footer_widgets .f_contact_widget p {
  font-size: 14px;
  line-height: 26px;
  color: #a8a8a8;
  font-family: opensans, sans-serif;
  margin-bottom: 0px;
}

body .social_media_div {
  width: 44px;
  height: auto;
  min-height: 100px;
  top: 50%;
  left: 0;
  z-index: 999999;
  position: fixed;
}

body .social_media_div ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body .social_media_div ul .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #333333;
  opacity: 1;
}

body .social_media_div ul .tooltip:hover .tooltiptext {
  visibility: visible;
}

body .social_media_div ul .tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #333333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 120%;
  height: 35px;
  line-height: 35px;
}

body .social_media_div ul .tooltip .tooltiptext:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #333333 transparent transparent;
}

body .social_media_div ul .facebook_link,
body .social_media_div ul .twitter_link,
body .social_media_div ul .instagram_link,
body .social_media_div ul .telephone_link {
  background: #333333;
  width: 44px;
  height: 44px;
  float: left;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

body .social_media_div ul .telephone_link:hover {
  background: #b98648;
}

body .social_media_div ul .facebook_link:hover {
  background: #415e9b;
}

body .social_media_div ul .instagram_link:hover {
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}

body .social_media_div ul li a:link,
body .social_media_div ul li a:visited {
  color: #000000;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

body .aboutPage .discover_menu_area {
  position: relative;
}

body .aboutPage .discover_menu_area:before {
  content: "";
  background: url(../images/img/menu-left.png) no-repeat scroll center center;
  width: 260px;
  height: 480px;
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

body .aboutPage .discover_menu_inner {
  max-width: 1345px;
  margin: auto;
  background: #fff;
  margin-top: -60px;
  padding-top: 100px;
  padding-bottom: 115px;
}

body .aboutPage .single_pest_title {
  margin-bottom: 60px;
}

body .aboutPage .single_pest_title h2 {
  font-size: 36px;
  color: #3e606b;
  font-family: playfair, serif;
  font-weight: bold;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

body .aboutPage .single_pest_title h2:after {
  content: "";
  width: 40px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #acb2b4;
  height: 1px;
}

body .aboutPage .discover_item_inner p {
  text-align: justify;
  text-align-last: center;
}

body .contactPage form {
  width: 50%;
  display: inline-block;
  margin-left: 25%;
  padding-top: 5%;
}

body .contactPage form .form-text {
  display: block;
  margin-top: 0.25rem;
  width: 100%;
}

body .contactPage form .webform-progressbar {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

body .contactPage form .form-item,
body .contactPage form .form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}

body .contactPage form label {
  display: none;
}

body .contactPage form input {
  border-radius: 6px;
  height: 43px;
  text-align: center;
  border: solid 1px lightgrey;
  -webkit-box-shadow: 0px 0px 5px 0px lightgrey;
          box-shadow: 0px 0px 5px 0px lightgrey;
}

body .contactPage form .form-actions {
  text-align: center;
}

body .contactPage form .form-actions .webform-submit {
  background: #94c9d9;
  color: #fff;
  line-height: 36px;
  display: inline-block;
  padding: 0px 25px;
  font-family: "Open Sans", sans-serif;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
}

body .contactPage form .form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body .contactPage form textarea {
  border-radius: 6px;
  height: 143px;
  text-align: center;
  border: solid 1px lightgrey;
  -webkit-box-shadow: 0px 0px 5px 0px lightgrey;
          box-shadow: 0px 0px 5px 0px lightgrey;
}

body .careerPage .form-group,
body .careerPage .webform-client-form {
  margin-bottom: 1rem;
  overflow: hidden;
}

body .careerPage form {
  width: 50%;
  display: inline-block;
  margin-left: 25%;
  padding-top: 5%;
}

body .careerPage form .form-item,
body .careerPage form .form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}

body .careerPage form label {
  display: none;
}

body .careerPage form .form-text {
  display: block;
  margin-top: 0.25rem;
  width: 100%;
}

body .careerPage form input {
  border-radius: 6px;
  height: 43px;
  text-align: center;
  border: solid 1px lightgrey;
  -webkit-box-shadow: 0px 0px 5px 0px lightgrey;
          box-shadow: 0px 0px 5px 0px lightgrey;
}

body .careerPage form .form-managed-file .form-file,
body .careerPage form .form-managed-file .form-submit {
  margin: 0;
}

body .careerPage form .form-item .description {
  font-size: 0.85em;
}

body .careerPage form .form-actions {
  text-align: center;
}

body .careerPage form .form-actions .webform-submit {
  background: #94c9d9;
  color: #fff;
  line-height: 36px;
  display: inline-block;
  padding: 0px 25px;
  font-family: "Open Sans", sans-serif;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  font-weight: 600;
  border-radius: 3px;
}

body .breadImg {
  margin-top: 10%;
  background: url(../images/products/s3.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

body .breadImg .uk-overlay-default {
  background: transparent;
}

body .breadImg .uk-overlay-default h3,
body .breadImg .uk-overlay-default p {
  color: #fff;
  font-family: playfair, serif;
}

body .breadImg .uk-overlay-default h3 {
  font-size: 4rem;
  margin-bottom: 5%;
  font-weight: bold !important;
}

body .breadImg .uk-overlay-default p {
  font-size: 1.3rem;
  font-family: playItalic;
}

body .breadImg .uk-position-small[class*="uk-position-center-left"],
body .breadImg .uk-position-small[class*="uk-position-center-right"] {
  -webkit-transform: translateY(0%) translateY(-15px);
          transform: translateY(0%) translateY(-15px);
}

body .breadPage {
  margin-top: 10%;
}

body .breadPage .tp-leftarrow,
body .breadPage .tp-rightarrow {
  display: none !important;
}

body .breadPage .tp-mask-wrap {
  overflow: visible !important;
}

body .breadPage .secand_text {
  margin-top: -80px !important;
}

body .breadPage .slider_button {
  margin-top: -100px !important;
}

body .breadPage .cake_feature_item .cake_img img {
  max-width: 100%;
  height: auto;
}

body .breadPage .form-type-item,
body .breadPage .links {
  display: none !important;
}

body .breadPage .welcome_bakery_area {
  z-index: 3;
}

body .breadPage .menu_d_two .discover_menu_inner .pest_btn {
  margin-top: 5px !important;
}

body .breadPage .main_btn {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  body .breadPage .secand_text {
    margin-top: -24px !important;
    font-size: 24px !important;
  }
  body .breadPage .first_text {
    font-size: 50px !important;
  }
}

body .breadPage .cake_feature_main {
  background: #fff;
  position: relative;
}

body .breadPage .cake_feature_main .main_title {
  padding-bottom: 50px;
}

body .breadPage .cake_feature_main .main_title h2 {
  color: #3e606b;
  font-family: playfair, serif;
  font-weight: bold;
  font-size: 38px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}

body .breadPage .cake_feature_main .main_title h2:before {
  content: "";
  width: 45px;
  height: 1px;
  background: #acb2b4;
  position: absolute;
  right: -60px;
  bottom: 7px;
}

body .breadPage .cake_feature_main .cake_feature_row {
  margin-bottom: -50px;
}

body .breadPage .cake_feature_main .cake_feature_row .cake_feature_item {
  background: #fff;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(40, 40, 40, 0.08);
  box-shadow: 0px 0px 15px 0px rgba(40, 40, 40, 0.08);
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

body .breadPage .cake_feature_main .cake_feature_row .cake_feature_item .cake_text {
  position: relative;
}

body .breadPage .cake_feature_main .cake_feature_row .cake_feature_item .cake_text h3 {
  font-size: 18px;
  color: #343434;
  font-family: playfair, serif;
  margin-bottom: 22px;
  padding-top: 35px;
}

body .breadPage .cake_feature_main .cake_feature_row .cake_feature_item .cake_text .pest_btn {
  margin-top: 0;
}

body .breadPage .cake_feature_main:before {
  content: "";
  background: url(../images/img/w-left-techture.png) no-repeat scroll center center;
  position: absolute;
  left: 0px;
  top: -10%;
  height: 685px;
  width: 237px;
  z-index: 0;
}

body .breadPage .cake_feature_main:after {
  content: "";
  background: url(../images/img/w-right-techture.png) no-repeat scroll center center;
  position: absolute;
  right: 0px;
  top: -10%;
  height: 701px;
  width: 250px;
  z-index: -1;
}

@media (min-width: 992px) {
  .navbar.navbar-expand-lg .navbar-nav li.submenu .dropdown-menu {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    display: block;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    min-width: 250px;
    background: #ffffff;
    border-radius: 0px;
    border: none;
    padding: 0px;
    left: -40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    visibility: hidden;
    margin-top: 0px;
    -webkit-box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.08);
  }
  .navbar.navbar-expand-lg .navbar-nav li:hover.submenu .dropdown-menu {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    visibility: visible;
  }
}

@media (min-width: 992px) {
  .middle_menu_three .navbar-collapse {
    display: block;
  }
}

@media (max-width: 1199px) {
  .discover_menu_area::before {
    display: none;
  }
  .discover_menu_area::after {
    display: none;
  }
  .s_we_item .media .d-flex {
    padding-right: 15px;
  }
  .s_we_item .media .media-body h4 {
    font-size: 18px;
  }
  .main_menu_two .navbar.navbar-expand-lg .navbar-nav li {
    margin-right: 25px;
  }
  .main_menu_two::before {
    bottom: -10px;
  }
  .middle_menu_three .navbar.navbar-expand-lg .navbar-nav {
    padding-left: 0px;
  }
  .middle_menu_three .navbar.navbar-expand-lg .navbar-nav li {
    margin-right: 30px;
  }
  .middle_menu_three .navbar.navbar-expand-lg .navbar-nav {
    text-align: center;
    display: inline-block;
  }
  .middle_menu_three .navbar.navbar-expand-lg .navbar-nav li {
    display: inline-block;
  }
  .main_slider_area .tp-leftarrow {
    left: -40px !important;
  }
  .main_slider_area .tp-rightarrow {
    right: -108px !important;
    left: auto !important;
  }
  .main_slider_area .rev_slider ul li .slider_text_box .price h3 {
    height: 80px;
    width: 80px;
    line-height: 78px !important;
    font-size: 30px !important;
  }
  .box_menu_four .navbar.navbar-expand-lg .navbar-nav li {
    margin-right: 20px;
  }
  .blog_item .blog_text .blog_time .float-right .list_style li a {
    font-size: 14px;
  }
  .blog_item .blog_text .blog_time .float-right .list_style li {
    margin-right: 18px;
  }
  .blog_item .blog_text .blog_time .float-right .list_style li a::before {
    right: -13px;
  }
  .blog_item .blog_text .blog_time .float-left a {
    font-size: 14px;
  }
  .cart_table_area .table-responsive .table tbody tr:last-child td .form-inline {
    margin-right: -145px;
  }
  .cart_table_area .table-responsive .table tbody tr:last-child td .pest_btn {
    margin-left: -150px;
  }
}

@media (max-width: 991px) {
  .main_menu_area .navbar.navbar-expand-lg .navbar-brand {
    position: relative;
    left: 0%;
    top: 0px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .navbar-light .navbar-toggler {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
  }
  .main_menu_area .navbar.navbar-expand-lg .navbar-brand::after {
    display: none;
  }
  .main_menu_area .navbar.navbar-expand-lg .navbar-brand img {
    display: none;
    margin-top: 0px;
  }
  .main_menu_area .navbar.navbar-expand-lg .navbar-brand img + img {
    display: inline-block;
  }
  .main_menu_area::before {
    display: none;
  }
  .navbar-light .navbar-toggler {
    border: none;
    margin: 0px;
    padding: 0px;
    margin-top: 26px;
    margin-bottom: 24px;
  }
  .my_toggle_menu {
    border: none;
    width: 50px;
    height: 36px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
  }
  .my_toggle_menu span {
    display: block;
    width: 30px;
    height: 3px;
    background: #94c9d9;
    margin: auto;
    margin-bottom: 5px;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
  }
  .navbar_fixed .my_toggle_menu span {
    background: #ffffff;
  }
  .my_toggle_menu span:last-child {
    margin-bottom: 0px;
  }
  .main_header_area + section,
  .main_header_area + div,
  .main_header_area + .row {
    margin-top: 117px;
  }
  .navbar-toggler[aria-expanded="false"] .my_toggle_menu span:nth-child(2) {
    opacity: 1;
  }
  .navbar-toggler[aria-expanded="true"] .my_toggle_menu span:nth-child(2) {
    opacity: 0;
  }
  .navbar-toggler[aria-expanded="true"] .my_toggle_menu span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: relative;
    top: 7px;
  }
  .navbar-toggler[aria-expanded="true"] .my_toggle_menu span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 9px;
    position: relative;
  }
  .main_menu_area .navbar.navbar-expand-lg .navbar-nav li {
    margin-right: 0px;
  }
  .main_menu_area .navbar.navbar-expand-lg .navbar-nav li a {
    line-height: 45px;
    border-bottom: 1px solid #dcdcdc;
    display: block;
  }
  .welcome_bakery_inner .welcome_img {
    text-align: left;
    margin-top: 40px;
  }
  .special_recipe_slider .item .media .d-flex {
    padding-right: 30px;
  }
  .special_recipe_slider .item .media .d-flex::before {
    right: 16px;
  }
  .service_inner .col-6 {
    margin-bottom: 30px;
  }
  .service_inner {
    margin-bottom: -30px;
  }
  .client_says_slider .client_says_slider {
    position: relative;
    right: 0px;
    top: 0px;
    text-align: center;
    margin-top: 30px;
  }
  .chef_item {
    max-width: 270px;
    margin: 0px auto 50px;
  }
  .news_left_text {
    padding-bottom: 20px;
  }
  .footer_wd_inner .col-6 {
    margin-bottom: 30px;
  }
  .footer_wd_inner {
    margin-bottom: -30px;
  }
  .arivals_chocolate .arivals_pic {
    text-align: left;
    margin-bottom: 30px;
  }
  .arivals_chocolate .arivals_pic img {
    width: 100%;
  }
  .arivals_chocolate .arivals_text {
    position: absolute;
    left: 48px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .our_bakery_image .col-sm-6 {
    margin-bottom: 30px;
  }
  .our_bakery_image {
    margin-bottom: -30px;
    overflow: hidden;
  }
  .order_now_form {
    padding-left: 0px;
    padding-right: 0px;
  }
  .main_menu_area .navbar.navbar-expand-lg .navbar-nav li.submenu .dropdown-menu {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border-top: 0px;
  }
  .main_menu_two::before {
    display: none;
  }
  .main_menu_two {
    background: #fff;
  }
  .main_menu_two .navbar.navbar-expand-lg .navbar-nav li {
    margin-right: 0px;
  }
  .main_menu_two .navbar.navbar-expand-lg .navbar-nav > li > a {
    line-height: 48px !important;
    border-bottom: 1px solid #dcdcdc;
  }
  .main_menu_area .navbar.navbar-expand-lg .navbar-nav li a::before {
    bottom: -1px;
  }
  .main_menu_two .navbar.navbar-expand-lg .navbar-nav li a {
    display: block;
  }
  .main_menu_two .navbar.navbar-expand-lg .navbar-nav li.submenu .dropdown-menu {
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    border-top: 0px;
  }
  .middle_menu_three .navbar.navbar-expand-lg .navbar-brand {
    display: block;
  }
  .top_logo_header .h_middle_text {
    display: none;
  }
  .middle_menu_three .navbar.navbar-expand-lg {
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
  }
  .top_logo_header {
    padding-top: 18px;
  }
  .top_logo_header::before {
    display: none;
  }
  .main_header_three + section,
  .main_header_three + div {
    margin-top: 150px;
  }
  .middle_menu_three .navbar.navbar-expand-lg .navbar-nav {
    text-align: left;
    display: block;
  }
  .middle_menu_three .navbar.navbar-expand-lg .navbar-nav li {
    display: block;
    margin-right: 0px;
  }
  .middle_menu_three .navbar.navbar-expand-lg .navbar-nav > li > a {
    display: block;
    line-height: 45px !important;
    border-bottom: 1px solid #dcdcdc;
  }
  .middle_menu_three .navbar.navbar-expand-lg .navbar-nav li.search_icon a::before {
    display: none;
  }
  .middle_menu_three .navbar.navbar-expand-lg .navbar-nav li.submenu .dropdown-menu {
    margin: 0px;
    padding: 0px;
    border-top: 0px;
    border-radius: 0px;
  }
  .box_menu_four .navbar.navbar-expand-lg .navbar-nav li {
    margin-right: 0px;
  }
  .box_menu_four .navbar.navbar-expand-lg .navbar-nav li a {
    display: block;
    line-height: 48px;
    border-bottom: 1px solid #dcdcdc;
  }
  .box_menu_four .navbar.navbar-expand-lg .navbar-nav li.search_icon a::before {
    display: none;
  }
  .box_menu_four .navbar.navbar-expand-lg .navbar-nav li.submenu .dropdown-menu {
    border-top: 0px;
    margin-top: 0px;
    border-radius: 0px;
  }
  .error_area {
    min-height: 700px;
  }
  .error_area .error_inner .error_inner_text h3 {
    font-size: 130px;
  }
  .error_area .error_inner .error_inner_text h4 {
    font-size: 40px;
  }
  .error_area .error_inner .error_inner_text h5 {
    font-size: 22px;
  }
  .our_mission_inner .single_m_title {
    margin-bottom: 20px;
  }
  .main_blog_column .blog_item {
    max-width: 570px;
    margin: auto;
  }
  .right_sidebar_area {
    margin-top: 50px;
  }
  .main_blog_inner {
    padding-right: 0px;
  }
  .cart_table_area .table-responsive .table tbody tr:last-child td .form-inline .btn {
    margin-left: 0px;
    margin-top: 10px;
  }
  .cart_table_area .table-responsive .table tbody tr:last-child td .form-inline .form-group input {
    width: 140px;
  }
  .order_box_price {
    margin-top: 50px;
  }
  .welcome-text-area p {
    font-size: 20px;
    line-height: 28px;
  }
  .welcome-text-area p br {
    display: none;
  }
  .coming_soon_counter .counter-item {
    width: 150px;
    height: 150px;
    padding: 28px 0px;
    margin: 0px 10px;
  }
  .coming_soon_counter .counter-item span {
    font-size: 50px;
    line-height: 50px;
  }
  .contact_form_area .offset-md-1 {
    margin-left: 0px;
    margin-top: 50px;
  }
  .col-lg-3.hide {
    display: none;
  }
  .portfolio_full_width_area .portfolio_full_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .product_details_area .product_d_price .product_img {
    padding-right: 0px;
  }
  .product_details_text {
    padding-top: 50px;
  }
  .similar_product_inner .cake_feature_item {
    margin-bottom: 30px;
  }
  .similar_product_inner {
    margin-bottom: -30px;
  }
  .product_left_sidebar {
    margin-top: 50px;
  }
  .main_header_area.navbar_fixed .main_menu_area .navbar.navbar-expand-lg .navbar-brand img {
    margin-top: 2px;
  }
  .main_menu_area .navbar.navbar-expand-lg .navbar-collapse {
    max-height: 368px;
    overflow-y: scroll;
  }
  .main_menu_two .navbar.navbar-expand-lg .navbar-collapse {
    max-height: 392px;
    overflow-y: scroll;
  }
  .middle_menu_three .navbar.navbar-expand-lg .navbar-collapse {
    max-height: 400px;
    overflow-y: scroll;
  }
  .main_menu_area .navbar.navbar-expand-lg .navbar-nav > li > a {
    line-height: 45px !important;
  }
  .box_menu_four .navbar.navbar-expand-lg .navbar-collapse {
    max-height: 400px;
    overflow-y: scroll;
  }
  .main_menu_area .navbar.navbar-expand-lg .navbar-nav li.submenu .dropdown-menu .submenu .dropdown-menu {
    display: block;
    border-left: 0px;
    border-right: 0px;
    margin: 0px;
    padding: 0px;
  }
  .main_menu_two .navbar.navbar-expand-lg .navbar-nav li.submenu .submenu .dropdown-menu {
    display: block;
    border-left: 0px;
    border-right: 0px;
    margin: 0px;
    padding: 0px;
  }
  .middle_menu_three .navbar.navbar-expand-lg .navbar-nav li.submenu .submenu .dropdown-menu {
    display: block;
    border-left: 0px;
    border-right: 0px;
    margin: 0px;
    padding: 0px;
  }
  .box_menu_four .navbar.navbar-expand-lg .navbar-nav li.submenu .submenu .dropdown-menu {
    display: block;
    border-left: 0px;
    border-right: 0px;
    margin: 0px;
    padding: 0px;
  }
  .faq_form_area .faq_left_form .faq_title h3 {
    font-size: 22px;
  }
  .footer_widgets .footer_wd_inner .col-lg-3:nth-child(2) .f_link_widget {
    padding-left: 0px;
  }
  .dropdown .dropdown-menu {
    -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0s;
    transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
  }
  .dropdown.show .dropdown-menu {
    -webkit-transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0s;
    transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0s;
    max-height: 250px;
    overflow-y: scroll;
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 767px) {
  .special_recipe_slider .item .media .d-flex {
    padding-right: 0px;
    display: block;
  }
  .special_recipe_slider .item .media {
    display: block;
  }
  .owl-carousel .owl-item img {
    width: 100%;
    margin-bottom: 30px;
  }
  .special_recipe_slider .item .media .d-flex::before {
    display: none;
  }
  .special_recipe_slider .item .media .media-body p {
    padding-right: 0px;
  }
  .client_says_inner .c_says_title {
    padding-left: 0px;
  }
  .client_says_slider .item .media .d-flex {
    padding-right: 25px;
  }
  .client_says_slider .item .media .d-flex::before {
    right: 11px;
  }
  .client_says_slider .item .media .media-body p {
    font-size: 18px;
  }
  .l_news_image .l_news_hover h4 {
    font-size: 20px;
  }
  .l_news_image {
    max-width: 370px;
    margin: 0px auto 30px;
  }
  .l_news_item {
    max-width: 370px;
    margin: 0px auto 30px;
  }
  .latest_news_inner {
    margin-bottom: -30px;
  }
  .copyright_inner .float-left {
    float: none !important;
    text-align: center;
    padding-bottom: 15px;
  }
  .copyright_inner .float-right {
    float: none !important;
    text-align: center;
  }
  .footer_copyright .copyright_inner .float-left h5 {
    line-height: 24px;
  }
  .pink_cake_feature .cake_feature_inner .title_view_all .float-left {
    float: none !important;
  }
  .pink_cake_feature .cake_feature_inner .title_view_all .float-right {
    float: none !important;
  }
  .pink_cake_feature .cake_feature_inner .title_view_all .float-right .pest_btn {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .top_header_area .float-left {
    float: none !important;
    text-align: center;
  }
  .top_header_area .float-right {
    float: none !important;
    text-align: center;
  }
  .error_area .error_inner .error_inner_text h4 {
    font-size: 34px;
  }
  .our_bakery_image {
    margin-bottom: -30px;
    overflow: hidden;
  }
  .our_bakery_image .col-6 {
    margin-bottom: 30px;
  }
  .billing_form .select_check2 .creat_account label {
    font-size: 18px;
    top: -27px;
  }
  .coming-header {
    font: 800 50px "Playfair Display", serif;
  }
  .coming_soon_counter {
    max-width: 340px;
    margin: 80px auto 0px;
  }
  .coming_soon_counter .counter-item {
    margin-bottom: 20px;
  }
  .portfolio_full_width_area .portfolio_full_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .portfolio_filter ul li {
    margin-right: 15px;
  }
  .discover_menu_area.service_menu .discover_menu_inner .s_dis_title .float-left {
    float: none !important;
  }
  .discover_menu_area.service_menu .discover_menu_inner .s_dis_title .float-right {
    float: none !important;
  }
  .discover_menu_area.service_menu .discover_menu_inner .s_dis_title .pest_w_btn {
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .product_pagination {
    display: block;
    text-align: center;
  }
  .product_pagination .left_btn {
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }
  .product_pagination .right_btn {
    width: 100%;
    display: block;
    margin-top: 15px;
  }
  .faq_form_area::before {
    display: none;
  }
  .main_header_area + section,
  .main_header_area + div,
  .main_header_area + .row {
    margin-top: 167px;
  }
  .cake_feature_slider .cake_feature_slider {
    top: -130px;
  }
  .cake_feature_slider .cake_feature_slider .owl-prev,
  .cake_feature_slider .cake_feature_slider .owl-next {
    line-height: 34px;
  }
}

@media (max-width: 575px) {
  .welcome_bakery_area::before {
    display: none;
  }
  .welcome_bakery_area::after {
    display: none;
  }
  .welcome_bakery_inner {
    padding: 70px 0px;
  }
  .cake_feature_inner {
    padding: 70px 0px 70px 0px;
  }
  .special_recipe_area {
    padding: 70px 0px;
  }
  .main_title h2::before {
    display: none;
  }
  .cake_feature_slider .cake_feature_slider {
    position: relative;
    right: 0px;
    top: 0px;
    text-align: center;
    margin-top: 40px;
  }
  .special_recipe_slider .item .media .media-body h4 {
    font-size: 40px;
  }
  .discover_menu_inner {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .discover_item_inner .discover_item p span {
    float: none;
    display: block;
    margin-top: 15px;
  }
  .c_says_title h2::before {
    display: none;
  }
  .client_says_slider .item .media {
    display: block;
    text-align: center;
  }
  .client_says_slider .item .media .d-flex {
    padding-right: 0px;
    text-align: center;
  }
  .client_says_slider .item .media .d-flex h3 {
    padding-left: 0px;
    margin-bottom: -10px;
    margin-top: 20px;
  }
  .client_says_slider .item .media .d-flex::before {
    display: none;
  }
  .client_says_slider .item .media .media-body p {
    padding-top: 0px;
  }
  .client_says_slider .item .media .d-flex img {
    text-align: center;
    display: inline-block;
    width: auto;
  }
  .client_says_inner .c_says_title {
    text-align: center;
  }
  .c_says_title h2 {
    font-size: 28px;
  }
  .p_100 {
    padding: 70px 0px;
  }
  .our_bakery_image {
    max-width: 370px;
    margin: 0px auto -30px;
  }
  .main_w_title h2::before {
    display: none;
  }
  .bakery_video_area .video_inner h3 {
    font-size: 55px;
  }
  .bakery_video_area .video_inner p {
    font-size: 18px;
    line-height: 32px;
  }
  .bakery_video_area {
    padding: 70px 0px;
  }
  .error_area {
    min-height: 100%;
    padding: 100px 0px;
  }
  .error_area .error_inner .error_inner_text .pink_btn {
    line-height: 58px;
    font-size: 15px;
    padding: 0px 32px;
  }
  .error_area .error_inner .error_inner_text h5 {
    font-size: 16px;
  }
  .error_area .error_inner .error_inner_text h4 {
    font-size: 27px;
  }
  .banner_text h3 {
    font-size: 40px;
  }
  .our_mission_inner .mission_inner_text .nav li {
    margin-right: 26px;
  }
  .our_mission_inner .mission_inner_text .nav li a {
    font-size: 16px;
  }
  .order_box_price .payment_list {
    padding: 15px 15px 22px 15px;
  }
  .order_box_price .payment_list .price_single_cost h5 {
    font-size: 14px;
  }
  .order_box_price .payment_list .price_single_cost h4 {
    font-size: 14px;
  }
  .order_box_price .payment_list .price_single_cost h5 span {
    font-size: 14px;
  }
  .c-search-form .input-group {
    display: block;
  }
  .c-search-form .input-group .form-control {
    display: block;
    width: 100%;
  }
  .c-search-form .input-group .input-group-addon button {
    margin-top: 20px;
  }
  .portfolio_full_width_area .portfolio_full_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .product_tab_area .nav.nav-tabs a {
    margin-right: 6px;
    padding: 0px 10px;
    line-height: 36px;
    font-size: 13px;
  }
  .product_tab_area .tab-content {
    padding: 34px 15px 36px 15px;
  }
  .special_item_inner .specail_item .special_item_text {
    padding-left: 0px;
    max-width: 100%;
  }
  .special_item_inner .specail_item .special_item_text h4 {
    font-size: 32px;
  }
  .special_item_inner .specail_item .special_item_text p {
    font-size: 16px;
    line-height: 28px;
  }
  .special_item_inner .specail_item .s_item_left .main_title h2 {
    font-size: 30px;
  }
  .special_item_inner .specail_item .s_item_left .list_style {
    margin-bottom: 20px;
  }
  .special_item_inner .specail_item .s_item_left .list_style li a {
    font-size: 18px;
    line-height: 36px;
  }
  .making_area .main_title h2 {
    font-size: 32px;
  }
  .testimonials_item_area .testi_item_inner .media {
    display: block;
  }
  .testimonials_item_area .testi_item_inner .media .d-flex {
    padding-right: 0px;
    text-align: left;
  }
  .testimonials_item_area .testi_item_inner .media .d-flex h3 {
    display: none;
  }
  .testimonials_item_area .testi_item_inner .media .d-flex::before {
    display: none;
  }
  .testimonials_item_area .testi_item_inner .media .media-body p {
    font-size: 18px;
    line-height: 28px;
    font-style: italic;
  }
  .faq_collaps .left_side_collaps .card .card-header button {
    font-size: 18px;
  }
  .faq_collaps .left_side_collaps .card .card-header button i {
    top: -2px;
    font-size: 24px;
  }
  .banner_text h3 {
    padding-top: 55px;
  }
  .banner_text {
    padding-bottom: 55px;
  }
  .main_menu_area .navbar.navbar-expand-lg .navbar-brand img + img {
    max-width: 80%;
  }
  .main_menu_two .navbar.navbar-expand-lg .navbar-brand img {
    max-width: 80%;
  }
  .middle_menu_three .navbar.navbar-expand-lg .navbar-brand img {
    max-width: 80%;
  }
  .special_item_inner .specail_item {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .special_item_inner .specail_item:first-child {
    padding-bottom: 50px;
  }
  .special_area {
    padding-bottom: 40px;
  }
  .service_area {
    padding: 70px 0px 70px 0px;
  }
  .discover_menu_inner {
    margin-top: 0px;
  }
}

@media (max-width: 480px) {
  .main_title h2 {
    font-size: 26px;
  }
  .special_recipe_slider .owl-dots {
    position: relative;
    right: 0px;
    top: 0%;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    text-align: center;
    margin-top: 30px;
  }
  .special_recipe_slider .owl-dots .owl-dot {
    display: inline-block;
    margin: 0px;
    margin-right: 5px;
  }
  .special_recipe_slider .owl-dots .owl-dot:last-child {
    margin-right: 0px;
  }
  .service_inner .col-6 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .our_chef_inner .col-6 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .newsletter_form .input-group {
    display: block;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .newsletter_form .input-group input {
    width: 100%;
    border-radius: 4px !important;
  }
  .newsletter_form .input-group .input-group-append {
    margin-top: 10px;
  }
  .newsletter_form .input-group .input-group-append button {
    height: 50px;
    border-radius: 4px !important;
  }
  .footer_wd_inner .col-6 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .cake_feature_row .col-6 {
    max-width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .cake_feature_main .cake_feature_row .cake_feature_item {
    max-width: 270px;
    margin: 0px auto 50px;
  }
  .arivals_chocolate .arivals_text h4 {
    font-size: 35px;
  }
  .arivals_chocolate .arivals_text {
    top: 60%;
  }
  .arivals_chocolate .arivals_pic .price_text {
    top: 7px;
  }
  .our_bakery_area .our_bakery_text h2 {
    font-size: 28px;
  }
  .top_header_area .float-left a + a {
    margin-left: 0px;
    margin-top: -14px;
  }
  .top_header_area .float-left a {
    display: block;
  }
  .top_logo_header .h_left_text {
    display: none;
  }
  .top_logo_header .h_right_text {
    display: block;
    width: 100%;
  }
  .top_logo_header .h_right_text .pink_btn {
    display: block;
    text-align: center;
  }
  .main_header_three + section,
  .main_header_three + div {
    margin-top: 147px;
  }
  .box_header_four {
    top: 35px;
  }
  .our_bakery_area .our_bakery_text h6 {
    font-size: 16px;
  }
  .our_bakery_area .our_bakery_text p {
    font-size: 14px;
  }
  .blog_item .blog_text .float-left {
    float: none !important;
    padding-top: 15px;
  }
  .blog_item .blog_text .float-right {
    float: none !important;
    padding-bottom: 15px;
  }
  .blog_item .blog_text .blog_time .float-right .list_style li a {
    line-height: 24px;
  }
  .blog_item .blog_text .blog_time .float-left a {
    line-height: 24px;
  }
  .blog_item .blog_text h4 {
    font-size: 18px;
  }
  .blog_item .blog_text p {
    font-size: 14px;
    line-height: 24px;
  }
  .main_blog_column .col-lg-6 {
    margin-bottom: 50px;
  }
  .main_blog_column {
    margin-bottom: -50px;
  }
  .blog_item .blog_text .blog_time .float-right .list_style li {
    margin-right: 12px;
  }
  .blog_item .blog_text .blog_time .float-right .list_style li a::before {
    right: -10px;
  }
  .main_header_area + section,
  .main_header_area + div,
  .main_header_area + .row {
    margin-top: 202px;
  }
  .blog_item {
    margin-bottom: 50px;
  }
  .our_cakes_area .cake_feature_row .cake_feature_item {
    max-width: 270px;
    margin: 0px auto 30px;
  }
  .main_title h5 {
    font-size: 16px;
    line-height: 26px;
  }
  .coming_soon {
    padding: 100px 0px;
  }
  .coming-header {
    font: 800 39px "Playfair Display", serif;
  }
  .coming_soon_counter .counter-item {
    width: 120px;
    height: 120px;
    padding: 18px 0px;
  }
  .coming_soon_counter .counter-item span {
    font-size: 40px;
    line-height: 40px;
  }
  .coming_soon_counter .counter-item .smalltext {
    font-size: 18px;
  }
  .coming_soon_counter {
    max-width: 280px;
  }
  .map_area .mapBox {
    min-height: 380px;
  }
  .product_item_inner .col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .product_inner_row .product_item_inner .cake_feature_item {
    max-width: 270px;
    margin: 0px auto 30px;
  }
  .s_comment_list .s_comment_list_inner .media {
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
  }
  .s_comment_list .s_comment_list_inner .media .d-flex {
    padding-right: 0px;
    margin-bottom: 20px;
  }
  .s_comment_area .s_comment_inner {
    padding: 30px 18px;
  }
  body main .slider .uk-cover {
    width: 104vw !important;
    height: 65vh !important;
  }
  .blueHeader {
    width: 104vw !important;
  }
  .g-recaptcha {
    margin-left: -38%;
  }
}

@media (max-width: 320px) {
  body main .slider .uk-cover {
    height: 80vh !important;
  }
  body main .slider .uk-position-small {
    max-width: calc(100% - (15px * 2)) !important;
  }
  body main .slider .uk-overlay-default h3 {
    font-size: 2rem;
  }
}

@media (max-width: 360px) {
  body main .slider .uk-position-small {
    max-width: calc(100% - (15px * 2)) !important;
  }
  body main .slider .uk-overlay-default h3 {
    font-size: 2rem;
  }
}

@media (max-width: 780px) {
  .owl-dots {
    display: block;
    margin-left: 22%;
  }
  .owl-dots .active {
    background-color: #94c9d9 !important;
  }
  .owl-dot {
    border: 1px solid grey !important;
    background-color: grey !important;
    border-radius: 50px;
    height: 4vh;
    width: 8vw;
    margin: 0.5%;
  }
  .owl-prev, .owl-next {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */