$blue: #121639;
$red: #ed1c24;
$grey: #f2f2f2;
$white: #ffffff;

body {
    overflow: hidden;
    height: 100vh;
    background: url(../images/pic.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    .liquid {
        position: absolute;
        height: 101vh;
        overflow: hidden;
        width: 101vw;
        z-index: 45;
        margin-top: -0.2%;
        margin-left: 3.1%;
        transform: rotate(90deg);
        transform-origin: top left;
        z-index: 1;
        path {
            stroke: transparent;
            stroke-width: 0;
        }
    }
    .shape {
        z-index: 10515;
        svg {
            position: absolute;
            path {
                transform: rotate(79deg) translate(-152%, -148%);
            }
        }
    }
    .about {
        opacity: 0;
        position: relative;
        padding: 3% 5%;
        height: 100vh;
        .aboutTitle {
            .mob {
                display: none;
            }
            h1 {
                color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: $white;
                font-size: 6rem;
            }
            p {
                color: $white;
                font-style: italic;
                font-size: 1.3rem;
                text-align: justify;
            }
        }
        img {
            position: absolute;
            top: 45%;
            left: 45%;
            width: 8vw;
        }
        .contact {
            position: absolute;
            top: 70%;
            h1 {
                font-size: 1.5em;
                color: $white;
                -webkit-text-stroke-width: 0;
            }
            span {
                color: $white;
                margin-bottom: 5%;
            }
            svg {
                height: 5vh;
                margin-bottom: 5%;
                fill: $white;
            }
        }
        .home-circle {
            position: absolute;
            bottom: 20%;
            right: 4%;
            width: 7vw;
            height: 2vh;
            svg {
                animation: rotation 2s infinite ease-in-out alternate both;
                @keyframes rotation {
                    from {
                        transform: rotate(0deg);
                    }
                    to {
                        transform: rotate(359deg);
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .copywrite {
            position: absolute;
            left: 43%;
            bottom: 0%;
            h4 {
                color: $white;
                font-size: 1em;
            }
        }
    }
    .red {
        float: left;
        width: 100vw;
        height: 100vh;
        background: $red;
        z-index: 10;
        position: absolute;
        svg {
            fill: $white;
            position: absolute;
            width: 4vw;
            height: 4vh;
            bottom: 2%;
            left: -10%;
            @media ( max-width: 768px) {
                left: 15%;
            }
        }
        #facebook {
            bottom: 20%;
        }
        #linkedin {
            bottom: 14%;
        }
        #instagram {
            bottom: 8%;
        }
    }
    .main {
        position: absolute;
        z-index: 9;
        .title {
            padding-top: 15vh;
            h1 {
                color: transparent;
                -webkit-text-stroke-color: $white;
                -webkit-text-stroke-width: 1px;
                font-size: 11vh;
                @media (min-width: 640px) and (max-width: 960px) {
                    font-size: 8vh;
                }
            }
        }
        .button {
            button {
                background: $red;
                border: 1px solid $red;
                border-radius: 50px 0 50px 0;
                padding: 1vh 2vw;
                color: $blue;
                transition: all 0.5s ease-in-out;
                &:hover {
                    border-radius: 0 50px 0 50px;
                    background: $blue;
                    border: 1px solid $blue;
                    color: $red;
                }
            }
        }
        .countdown {
            background: $red;
            margin-top: 15vh;
            margin-left: 55vw;
            position: relative;
            height: 0vh;
            width: 40vw;
            float: right;
            .coming-soon {
                position: absolute;
                left: 50%;
                font-size: 0.5vw;
                bottom: 0%;
                color: $white;
                font-weight: 700;
            }
            @media (max-width: 960px) {
                margin-top: 25vh;
                margin-left: 56vw;
            }
        }
    }
    .timer {
        position: absolute;
        bottom: 8vh;
        right: 5vw;
        span,
        .uk-countdown-separator {
            color: transparent;
            -webkit-text-stroke-color: $white;
            -webkit-text-stroke-width: 1px;
        }
        div {
            color: $white;
        }
        @media (min-width: 1250px) and (max-width: 1275px) {
            right: 3vw;
        }
        @media (min-width: 960px) and (max-width: 1250px) {
            right: 5vw;
            .uk-countdown-number {
                font-size: 4em;
            }
        }
        @media (min-width: 640px) and (max-width: 960px) {
            right: 4vw;
        }
    }
}
