@font-face {
  font-family: PEB;
  src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: P;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: PB;
  src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: PI;
  src: url(../fonts/Poppins-Italic.ttf);
}

body {
  background-color: #d3c3be;
}

body header {
  height: 100vh;
  background-color: #bda59d;
}

body header nav {
  height: 15vh;
}

body header nav .container-fluid {
  height: 100%;
}

body header nav .container-fluid li {
  margin: 0 40px;
}

body header nav .container-fluid img,
body header nav .container-fluid a {
  height: 100%;
}

body header nav .container-fluid a {
  font-family: PEB;
}

body header nav .container-fluid a.active {
  text-decoration: underline;
}

body header nav .container-fluid input {
  border-radius: 25px;
  background-color: #a7877e;
  border: 0;
}

body header nav .container-fluid input::-webkit-input-placeholder {
  color: white;
}

body header nav .container-fluid input:-ms-input-placeholder {
  color: white;
}

body header nav .container-fluid input::-ms-input-placeholder {
  color: white;
}

body header nav .container-fluid input::placeholder {
  color: white;
}

body header .slider {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 50% 100%, 0 75%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 50% 100%, 0 75%, 0 0);
  height: 85vh;
}

body header .slider .carousel-inner,
body header .slider .slide {
  height: 100%;
}

body header .slider .carousel-inner .carousel-item,
body header .slider .carousel-inner img,
body header .slider .slide .carousel-item,
body header .slider .slide img {
  height: inherit;
}

body header .slider_n {
  height: 85vh;
}

body header .slider_n img {
  width: 100%;
  height: 100%;
}

body main #home #download {
  background-color: #d3c3be;
  padding: 10vh;
}

body main #home #download p {
  width: 80%;
  font-family: P;
}

body main #home #download h1 {
  font-family: PB;
}

body main #home #download img {
  height: 30vh;
}

body main #home #about {
  background-color: #141312;
  height: 70vh;
  color: white;
}

body main #home #about .typ {
  margin-top: 15vh;
}

body main #home #about .typ p {
  font-family: P;
}

body main #home #our_team {
  position: relative;
  height: 90vh;
  margin-top: -15vh;
  padding-top: 20vh;
}

body main #home #our_team .col-md-6 {
  position: relative;
  z-index: 5;
}

body main #home #our_team p {
  font-family: P;
}

body main #home #our_team .img {
  height: 500px;
  margin-top: -15vh;
}

body main #home #our_team .img img {
  height: 100%;
  width: 100%;
}

body main #home #our_team::after {
  content: "";
  z-index: 0;
  width: 100%;
  background-color: #a7877e;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 80%);
}

body main #about {
  margin-bottom: 50px;
}

body main #about #who {
  padding: 5em;
  background-color: #141312;
}

body main #about #who h1,
body main #about #who p {
  color: white;
}

body main #about #team {
  color: white;
}

body main #about #team img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body main #about #team .col-md-4 {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
  margin-bottom: 25px;
}

body main #about #team .col-md-4 .team_img {
  height: 500px;
}

body footer p {
  font-family: P;
}

body footer p span {
  font-weight: bold;
  font-family: P;
}

body footer div,
body footer span {
  font-family: PI;
}

body footer .title {
  color: #754134;
  margin-top: 5vh;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 3px;
  margin-bottom: 10px;
  width: 60px;
  font-size: 20px;
}

body footer .title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 25%;
  background-color: #754134;
}

body footer .copyright {
  margin-top: 10vh;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.btn-primary {
  background-color: #a7877e !important;
  border: 0 !important;
  border-radius: 0;
}

.btn-secondary {
  background-color: black !important;
  border: 0 !important;
  border-radius: 0;
}

p {
  font-family: P;
}
/*# sourceMappingURL=style.css.map */