@font-face {
  font-family: PEB;
  src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: P;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: PB;
  src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: PI;
  src: url(../fonts/Poppins-Italic.ttf);
}

body {
  background-color: #d3c3be;
}

body header {
  height: 100vh;
  background-color: #bda59d;
}

@media (max-width: 768px) {
  body header {
    height: 65vh;
  }
}

body header nav {
  height: 15vh;
}

body header nav .container-fluid {
  height: 100%;
}

body header nav .container-fluid li {
  margin: 0 40px;
}

body header nav .container-fluid img,
body header nav .container-fluid a {
  height: 100%;
}

body header nav .container-fluid a {
  font-family: PEB;
}

body header nav .container-fluid a.active {
  text-decoration: underline;
}

body header nav .container-fluid form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header nav .container-fluid input {
  border-radius: 25px;
  background-color: #a7877e;
  border: 0;
  margin: 15px;
}

body header nav .container-fluid input::-webkit-input-placeholder {
  color: white;
}

body header nav .container-fluid input:-ms-input-placeholder {
  color: white;
}

body header nav .container-fluid input::-ms-input-placeholder {
  color: white;
}

body header nav .container-fluid input::placeholder {
  color: white;
}

body header .slider {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 50% 100%, 0 75%, 0 0);
          clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 50% 100%, 0 75%, 0 0);
  height: 85vh;
}

@media (max-width: 768px) {
  body header .slider {
    height: 50vh;
  }
}

body header .slider .carousel-inner,
body header .slider .slide {
  height: 100%;
}

body header .slider .carousel-inner .carousel-item,
body header .slider .carousel-inner img,
body header .slider .slide .carousel-item,
body header .slider .slide img {
  height: inherit;
}

body header .slider_n {
  height: 85vh;
}

@media (max-width: 768px) {
  body header .slider_n {
    height: 50vh;
  }
}

body header .slider_n img {
  width: 100%;
  height: 100%;
}

body main #home #download {
  background-color: #d3c3be;
  padding: 10vh;
}

body main #home #download p {
  width: 80%;
  font-family: P;
}

body main #home #download h1 {
  font-family: PB;
}

body main #home #download img {
  height: 30vh;
}

@media (max-width: 768px) {
  body main #home #download p {
    width: 100%;
  }
  body main #home #download .col-md-6 {
    text-align: center;
    margin-bottom: 15px;
  }
}

body main #home #about {
  background-color: #141312;
  height: 70vh;
  color: white;
}

body main #home #about .typ {
  margin-top: 15vh;
}

body main #home #about .typ p {
  font-family: P;
}

body main #home #our_team {
  position: relative;
  height: 90vh;
  margin-top: -21vh;
  padding-top: 20vh;
}

@media (max-width: 768px) {
  body main #home #our_team .desc {
    margin-top: -35px;
  }
}

body main #home #our_team .col-md-6 {
  position: relative;
  z-index: 5;
}

body main #home #our_team p {
  font-family: P;
}

body main #home #our_team .img {
  height: 500px;
  margin-top: -15vh;
}

@media (max-width: 768px) {
  body main #home #our_team .img {
    height: 235px;
    margin-top: -6vh;
  }
}

body main #home #our_team .img img {
  height: 100%;
  width: 100%;
}

body main #home #our_team::after {
  content: "";
  z-index: 0;
  width: 100%;
  background-color: #a7877e;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 80%);
}

body main #about {
  margin-bottom: 50px;
}

body main #about #who {
  padding: 5em;
  background-color: #141312;
}

@media (max-width: 768px) {
  body main #about #who {
    padding: 3em;
  }
}

body main #about #who h1,
body main #about #who p {
  color: white;
}

body main #about #team {
  color: white;
}

body main #about #team img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body main #about #team .col-md-4 {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
  margin-bottom: 25px;
}

body main #about #team .col-md-4 .team_img {
  height: 500px;
}

body main #services {
  padding: 5em;
}

body main #services h1 {
  font-family: PEB;
  font-size: 3rem;
}

body main #services .content {
  width: 70%;
}

@media (max-width: 768px) {
  body main #services .content {
    width: 100%;
  }
}

body main #services .content h1 {
  color: #754134;
}

body main #services .content p {
  color: #754134;
  font-family: PB;
}

body main #services .stroke {
  -webkit-text-stroke: 2px #754134;
  color: transparent;
  font-size: 10rem;
  font-family: PB;
}

body main #services .img-heart {
  width: 100%;
  height: 115vh;
}

@media (max-width: 768px) {
  body main #services .img-heart {
    height: 50vh;
  }
}

body main #services .img-heart img {
  width: 100%;
  height: 100%;
  -o-object-position: bottom;
     object-position: bottom;
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
}

@media (max-width: 768px) {
  body main #services .img-heart img {
    -o-object-position: center;
       object-position: center;
  }
}

body main #contact {
  height: 120vh;
  padding: 5em;
  position: relative;
}

@media (max-width: 768px) {
  body main #contact {
    padding: 2em 5em;
  }
}

body main #contact .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 5;
}

body main #contact::after {
  content: "";
  width: 80%;
  height: 100%;
  margin: 0 10%;
  position: absolute;
  top: -5%;
  left: 0;
  background-color: #bda59d;
}

body footer p {
  font-family: PI;
  font-weight: bold;
}

body footer p span {
  font-weight: bolder;
  font-family: P;
}

body footer div,
body footer span {
  font-family: PI;
}

body footer .title {
  color: #754134;
  margin-top: 5vh;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 3px;
  margin-bottom: 10px;
  width: 60px;
  font-size: 20px;
}

body footer .title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 25%;
  background-color: #754134;
}

body footer .copyright {
  margin-top: 10vh;
}

@media (max-width: 768px) {
  body footer .col-md-4 {
    text-align: center;
  }
  body footer .col-md-4 .title {
    width: auto;
    margin: 15px auto;
  }
  body footer .col-md-4 .title::after {
    display: none;
  }
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.btn-primary {
  background-color: #a7877e !important;
  border: 0 !important;
  border-radius: 0;
}

.btn-secondary {
  background-color: black !important;
  border: 0 !important;
  border-radius: 0;
}

p {
  font-family: P;
}

.navbar-collapse {
  background-color: #bda59d;
  z-index: 4;
}

.btn-light {
  margin: 0 auto;
  color: #bda59d;
  border-radius: 0;
  padding: 10px 5em;
}
/*# sourceMappingURL=style.css.map */