$bg: #bda59d;
$bg_input: #a7877e;
$bg_sec: #d3c3be;
$h: #754134;
$black: #141312;

@font-face {
  font-family: PEB;
  src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: P;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: PB;
  src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: PI;
  src: url(../fonts/Poppins-Italic.ttf);
}

body {
  background-color: $bg_sec;
  header {
    height: 100vh;
    background-color: $bg;
    nav {
      height: 15vh;
      .container-fluid {
        height: 100%;
        li {
          margin: 0 40px;
        }
        img,
        a {
          height: 100%;
        }
        a {
          font-family: PEB;
        }
        a.active {
          text-decoration: underline;
        }
        input {
          border-radius: 25px;
          background-color: $bg_input;
          border: 0;
          &::placeholder {
            color: white;
          }
        }
      }
    }
    .slider {
      clip-path: polygon(
        50% 0%,
        100% 0,
        100% 75%,
        50% 100%,
        50% 100%,
        0 75%,
        0 0
      );
      height: 85vh;
      .carousel-inner,
      .slide {
        height: 100%;
        .carousel-item,
        img {
          height: inherit;
        }
      }
    }
    .slider_n {
      height: 85vh;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  main {
    #home {
      #download {
        background-color: $bg_sec;
        padding: 10vh;
        p {
          width: 80%;
          font-family: P;
        }
        h1 {
          font-family: PB;
        }
        img {
          height: 30vh;
        }
      }
      #about {
        background-color: $black;
        //   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
        height: 70vh;
        color: white;
        .typ {
          margin-top: 15vh;
          p {
            font-family: P;
          }
        }
      }
      #our_team {
        position: relative;
        height: 90vh;
        margin-top: -15vh;
        padding-top: 20vh;
        .col-md-6 {
          position: relative;
          z-index: 5;
        }
        p {
          font-family: P;
        }
        .img {
          height: 500px;
          margin-top: -15vh;
          img {
            height: 100%;
            width: 100%;
          }
        }
        &::after {
          content: "";
          z-index: 0;
          width: 100%;
          background-color: $bg_input;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 80%);
        }
      }
    }
  }
  footer {
    p {
      font-family: P;
      span {
        font-weight: bold;
        font-family: P;
      }
    }
    div,
    span {
      font-family: PI;
    }
    .title {
      color: $h;
      margin-top: 5vh;
      text-transform: uppercase;
      position: relative;
      letter-spacing: 3px;
      margin-bottom: 10px;
      width: 60px;
      font-size: 20px;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 25%;
        background-color: $h;
      }
    }
    .copyright {
      margin-top: 10vh;
    }
  }
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.btn-primary {
  background-color: $bg_input !important;
  border: 0 !important;
  border-radius: 0;
}
.btn-secondary {
  background-color: black !important;
  border: 0 !important;
  border-radius: 0;
}
